- name: install netdata systemd alarms for postgresql
  template:
    src: etc_netdata_health.d_systemdunits.conf.d_postgresql.conf.j2
    dest: /etc/netdata/health.d/systemdunits.conf.d/postgresql.conf
    owner: root
    group: netdata
    mode: 0640
  notify: assemble netdata configuration
  ignore_errors: "{{ ansible_check_mode }}"

- name: remove files from old versions of the role
  file:
    state: absent
    path: "/etc/netdata/health.d/processes.conf.d/postgresql.conf"
  notify: assemble netdata configuration
