passdb ldap {
  ldap_uris = {{ dovecot_ldap_uri }}
  ldap_auth_dn = {{ dovecot_ldap_bind_dn }}
  ldap_auth_dn_password = {{ dovecot_ldap_bind_password }}
  ldap_base = {{ dovecot_ldap_base }}
  ldap_filter = {{ dovecot_ldap_user_filter | replace('%u', '%{user}') | replace('%n', '%{user|username}') | replace('%d', '%{user|domain}') }}
  fields {
    user = %{ldap:uid}
    password = %{ldap:userPassword}
    home = %{ldap:homeDirectory}
    uid = %{ldap:uidNumber}
    gid = %{ldap:gidNumber}
  }
}

userdb ldap {
  ldap_uris = {{ dovecot_ldap_uri }}
  ldap_auth_dn = {{ dovecot_ldap_bind_dn }}
  ldap_auth_dn_password = {{ dovecot_ldap_bind_password }}
  ldap_base = {{ dovecot_ldap_base }}
  ldap_filter = {{ dovecot_ldap_user_filter | replace('%u', '%{user}') | replace('%n', '%{user|username}') | replace('%d', '%{user|domain}') }}
}
