##### OPENLDAP DIRECTORY SERVER #####

- name: install ansible modules requirements
  apt:
    state: present
    package:
      - debconf-utils
      - python3-ldap
  check_mode: no

### DEBCONF ###

# preconfigure the LDAP base DN in debconf - else it will be automatically derived from the machine's hostname
- name: pre-configure openldap server
  debconf:
    name: slapd
    question: "{{ item.question }}"
    vtype: string
    value: "{{ item.value }}"
  with_items:
    - { question: "slapd/domain", value: "{{ openldap_domain }}" }
    - { question: "shared/organization", value: "{{ openldap_organization }}" }

### PACKAGES ###

- name: install openLDAP server
  apt:
    state: present
    update_cache: yes
    cache_valid_time: 900
    package:
      - slapd
      - ldap-utils
      - openssl
      - ldapscripts
      - python3-pyldap

### CONFIGURATION ###

- name: create LDAP database directory
  file:
    path: "/var/lib/ldap/{{ openldap_fqdn }}/"
    state: directory
    owner: openldap
    group: openldap
    mode: 0750

- name: copy slapd configuration
  template:
    src: etc_default_slapd.j2
    dest: /etc/default/slapd
    owner: root
    group: root
    mode: 0644
  notify: restart slapd

- name: apply configuration (flush handlers)
  meta: flush_handlers

- name: add a hosts file entry for the LDAP server fqdn
  lineinfile:
    path: /etc/hosts
    line: '127.0.0.1	{{ openldap_fqdn }}'
    state: present
