##### LDAP DATABASE POPULATION #####

- name: create base LDAP DN entry
  ldap_entry:
    dn: "{{ openldap_base_dn }}"
    objectClass:
      - domain
      - organization
      - dcObject
    attributes:
      o: "{{ openldap_base_dn }}"
      structuralObjectClass: organization
  when: not ansible_check_mode

- name: hash LDAP admin password
  shell: slappasswd -s {{ openldap_admin_password }} # noqa command-instead-of-shell
  register: slapd_admin_password
  changed_when: False # does not change anything
  when: not ansible_check_mode

- name: hash LDAP 'bind' user password
  shell: slappasswd -s {{ openldap_bind_password }} # noqa command-instead-of-shell
  register: slapd_bind_password
  changed_when: False # does not change anything
  when: not ansible_check_mode

# slappasswd uses a new seed every time, hence the hash changes every time the playbook runs
- name: create LDAP admin account (always returns changed), set log level
  ldap_attrs:
    dn: "{{ item.dn }}"
    attributes: "{{ item.attributes }}"
    state: 'exact'
  no_log: "{{ item.no_log | default(False) }}"
  with_items:
    - dn: 'olcDatabase={1}mdb,cn=config'
      attributes:
        olcRootDN: 'cn=admin,{{ openldap_base_dn }}'
    - dn: 'olcDatabase={0}config,cn=config'
      attributes:
        olcRootDN: 'cn=admin,cn=config'
    - dn: 'olcDatabase={1}mdb,cn=config'
      no_log: True
      attributes:
        olcRootPW: '{{ slapd_admin_password.stdout }}'
    - dn: 'olcDatabase={0}config,cn=config'
      no_log: True
      attributes:
        olcRootPW: '{{ slapd_admin_password.stdout }}'
    - dn: 'cn=config'
      attributes:
        olcLogLevel: '{{ openldap_log_level }}'
  when: not ansible_check_mode

- name: create basic Organizational Units
  ldap_entry:
    dn: ou={{ item }},{{ openldap_base_dn }}
    objectClass: organizationalUnit
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  with_items:
    - 'system'
    - 'groups'
    - 'users'
    - 'domains'
  when: not ansible_check_mode

- name: create 'users' LDAP group
  ldap_entry:
    dn: "cn=users,ou=groups,{{ openldap_base_dn }}"
    objectClass: posixGroup
    attributes:
      gidNumber: 10000
      description: 'Default group for all users'
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  when: not ansible_check_mode

- name: create unprivilegied bind LDAP user
  ldap_entry:
    dn: 'cn={{ openldap_bind_username }},ou=system,{{ openldap_base_dn }}'
    objectClass:
      - organizationalRole
      - simpleSecurityObject
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
    attributes:
      description: "Unprivilegied user for resolving UIDs/GIDs"
      userPassword: "{{ openldap_bind_password }}"
  when: not ansible_check_mode

- name: set password for unprivilegied LDAP bind user
  ldap_attrs:
    dn: "cn={{ openldap_bind_username }},ou=system,{{ openldap_base_dn }}"
    attributes:
      userPassword: "{{ openldap_bind_password }}"
    state: 'exact'
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  when: not ansible_check_mode
