global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  # - job_name: 'prometheus'
  #   # Override the global default and scrape targets from this job every 5 seconds.
  #   scrape_interval: 5s
  #   scrape_timeout: 5s
  #   # metrics_path defaults to '/metrics'
  #   # scheme defaults to 'http'.
  #   static_configs:
  #     - targets: ['localhost:9090']

  # - job_name: node
  #   # If prometheus-node-exporter is installed, grab stats about the local
  #   # machine by default.
  #   static_configs:
  #     - targets: ['localhost:9100']

  - job_name: exporter-exporter
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
  - job_name: apache
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - apache
  - job_name: php-fpm
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - php-fpm
  - job_name: node
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - node
  - job_name: process
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - process
  # - job_name: libvirt # does not work, will be reintroduced later, issue #1374
  #   bearer_token: {{ victoriametrics_exporters_auth_password }}
  #   scrape_interval: 5s
  #   scrape_timeout: 5s
  #   static_configs:
  #     - targets: ['localhost:9999']
  #   metrics_path: /proxy
  #   params:
  #     module:
  #       - libvirt
  - job_name: postgres
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - postgres
  - job_name: blackbox
    bearer_token: {{ victoriametrics_exporters_auth_password }}
    scrape_interval: 10s
    scrape_timeout: 9s
    metrics_path: /proxy
    params:
      module:
        - blackbox
        - http
    file_sd_configs:
      - files:
        - "/etc/prometheus/blackbox-exporter/*.yml"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9999
