global:
  smtp_smarthost: '{{ victoriametrics_alertmanager_smtp_host }}:{{ victoriametrics_alertmanager_smtp_port }}'
  smtp_from: '{{ victoriametrics_alertmanager_smtp_from }}'
  smtp_auth_username: '{{ victoriametrics_alertmanager_smtp_auth_username }}'
  smtp_auth_password: '{{ victoriametrics_alertmanager_smtp_auth_password }}'
  smtp_require_tls: true

route:
  group_by: ['alertname', 'severity', 'instance']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: {{ victoriametrics_alertmanager_repeat_interval }}
  receiver: 'email-notifications'
{% if victoriametrics_notifications_mute_time_intervals | length > 0 %}
  routes:
    - receiver: 'email-notifications'
      mute_time_intervals:
{% for interval in victoriametrics_notifications_mute_time_intervals %}
        - {{ interval.name }}
{% endfor %}
{% endif %}

receivers:
  - name: 'email-notifications'
    email_configs:
      - to: '{{ victoriametrics_alertmanager_email_to }}'{% raw %}
        headers:
          Subject: '🚨 {{ .GroupLabels.severity }}: {{ .GroupLabels.alertname }}: {{ .GroupLabels.instance }}'
        html: |
          {{ range .Alerts }}
          <b>Severity:</b> {{ .Labels.severity }}<br>
          <b>Instance:</b> {{ .Labels.instance }}<br>
          <b>Alert:</b> {{ .Labels.alertname }}<br>
          <b>Started:</b> {{ .StartsAt }}<br>
          <b>Summary:</b> {{ .Annotations.summary }}<br>
          <b>Description:</b> {{ .Annotations.description }}<br>
          <hr>
          {{ end }}
          <b>Alertmanager Instance:</b> {{ .ExternalURL }}
{% endraw %}
{% if victoriametrics_notifications_mute_time_intervals | length > 0 %}

time_intervals:
{% for interval in victoriametrics_notifications_mute_time_intervals %}
  - name: {{ interval.name }}
    time_intervals:
      - times:
          - start_time: '{{ interval.start_time }}'
            end_time: '{{ interval.end_time }}'
{% endfor %}
{% endif %}
