<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>VictoriaMetrics</short>
  <description>VictoriaMetrics time series database remote write endpoint</description>
  <port protocol="tcp" port="8428"/>
</service>
