##### NEXTCLOUD #####
# Nextcloud admin username/password
nextcloud_user: "CHANGEME"
nextcloud_password: "CHANGEME"
# nextcloud adminstrator e-mail address
nextcloud_admin_email: "CHANGEME@CHANGEME.org"
# Fully Qualified Domain Name for the nextcloud instance
nextcloud_fqdn: "cloud.CHANGEME.org"
# nextcloud database type (mysql/pgsql)
nextcloud_db_type: "pgsql"
# nextcloud database host
# use /var/run/postgresql and unset the password to use postgresql local peer authentication
nextcloud_db_host: "localhost"
# nextcloud database name
nextcloud_db_name: "nextcloud"
# nextcloud database user
nextcloud_db_user: "nextcloud"
# nextcloud database password
nextcloud_db_password: "CHANGEME"
# mode for SSL/TLS certificates for the nextcloud webserver virtualhost (letsencrypt/selfsigned)
#   letsencrypt: acquire a certificate from letsencrypt.org
#   selfsigned: generate a self-signed certificate (will generate warning in browsers and clients)
nextcloud_https_mode: selfsigned
# nextcloud data storage directory
nextcloud_data_dir: "/var/nextcloud/data"
# Nextcloud installation directory (must be under a valid documentroot)
nextcloud_install_dir: "/var/www/{{ nextcloud_fqdn }}"
# full public URL of your tt-rss installation (update this if you changed the install location to a subdirectory)
nextcloud_full_url: "https://{{ nextcloud_fqdn }}/"
# nextcloud version to install
nextcloud_version: "23.0.5"
# base folder for shared files from other users
nextcloud_share_folder: '/SHARED/'
# workaround for old nextcloud-desktop clients which don't support TLSv1.3
nextcloud_allow_tls12: true
# Nextcloud applications to enable or disable
#   state: enable/disable
#   app: nextcloud app name
nextcloud_apps:
  - { state: "disable", app: "accessibility" }
  - { state: "disable", app: "encryption" }
  - { state: "disable", app: "files_antivirus" }
  - { state: "disable", app: "files_versions" }
  - { state: "disable", app: "news" }
  - { state: "disable", app: "user_external" }
  - { state: "disable", app: "recommendations" }
  - { state: "enable", app: "activity" }
  - { state: "enable", app: "calendar" }
  - { state: "enable", app: "comments" }
  - { state: "enable", app: "contacts" }
  - { state: "enable", app: "dav" }
  - { state: "enable", app: "federatedfilesharing" }
  - { state: "enable", app: "federation" }
  - { state: "enable", app: "files" }
  - { state: "enable", app: "files_external" }
  - { state: "enable", app: "files_pdfviewer" }
  - { state: "enable", app: "files_sharing" }
  - { state: "enable", app: "files_trashbin" }
  - { state: "enable", app: "files_videoplayer" }
  - { state: "enable", app: "firstrunwizard" }
  - { state: "enable", app: "photos" }
  - { state: "enable", app: "music" }
  - { state: "enable", app: "maps" }
  - { state: "enable", app: "notifications" }
  - { state: "enable", app: "systemtags" }
  - { state: "enable", app: "tasks" }
  - { state: "enable", app: "updatenotification" }
  - { state: "enable", app: "user_ldap" }
  - { state: "enable", app: "notes" }
  - { state: "disable", app: "deck" }
  - { state: "enable", app: "admin_audit" }
  - { state: "disable", app: "documentserver_community" }
  - { state: "disable", app: "onlyoffice" }
  - { state: "disable", app: "bookmarks" }
# nextcloud php-fpm pool settings (performance/resource usage)
# php-fpm: Maximum amount of memory a script may consume (K, M, G)
nextcloud_php_memory_limit: '512M'
# php_fpm: Maximum execution time of each script (seconds)
nextcloud_php_max_execution_time: 30
# php-fpm: Maximum amount of time each script may spend parsing request data (seconds)
nextcloud_php_max_input_time: 60
# php-fpm: Maximum size of POST data that PHP will accept (K, M, G)
nextcloud_php_post_max_size: '4G'
# php-fpm: Maximum allowed size for uploaded files (K, M, G)
nextcloud_php_upload_max_filesize: '4G'
# php-fpm: maximum number of child processes
nextcloud_php_pm_max_children: 30
# php-fpm: number of child processes created on startup.
nextcloud_php_pm_start_servers: 3
# php-fpm: desired minimum number of idle server processes
nextcloud_php_pm_min_spare_servers: 2
# php-fpm: desired maximum number of idle server processes
nextcloud_php_pm_max_max_spare_servers: 4
