    alarm: systemd_service_prosody
       on: systemdunits_service-units.unit_prosody_service_state
     calc: $failed
    every: 10s
     crit: $this = 1
    units: failed service
     info: prosody XMPP service status
       to: sysadmin

    alarm: systemd_service_jicofo
       on: systemdunits_service-units.unit_jicofo_service_state
     calc: $failed
    every: 10s
     crit: $this = 1
    units: failed service
     info: jicofo (jitsi conference focus) service status
       to: sysadmin

    alarm: systemd_service_jitsi_videobridge2
       on: systemdunits_service-units.unit_jitsi-videobridge2_service_state
     calc: $failed
    every: 10s
     crit: $this = 1
    units: failed service
     info: jitsi videobridge service status
       to: sysadmin
