videobridge {
    http-servers {
        public {
            port = 9090
            host = "127.0.0.1"
        }
    }
    websockets {
        enabled = true
        domain = "{{ jitsi_fqdn }}:443"
        tls = true
    }
{% if jitsi_jvb_external_addresses %}
    external-addresses = ["{{ jitsi_jvb_external_addresses }}"]
{% endif %}
