# Jicofo HOCON configuration. See reference.conf in /usr/share/jicofo/jicofo.jar for
#available options, syntax, and default values.
jicofo {
  rest: {
    host: "127.0.0.1"
  }
{% if jitsi_secure_domain %}
  authentication: {
    enabled: true
    type: XMPP
    login-url: {{ jitsi_fqdn }}
  }
{% endif %}
  xmpp: {
    client: {
      xmpp-domain: "{{ jitsi_fqdn }}"
      domain: "auth.{{ jitsi_fqdn }}"
      username: "focus"
      password: "{{ jitsi_prosody_password }}"
      client-proxy: "focus.{{ jitsi_fqdn }}"
    }
    trusted-domains: [ "recorder.{{ jitsi_fqdn }}" ]
  }
  bridge: {
    brewery-jid: "JvbBrewery@internal.auth.{{ jitsi_fqdn }}"
  }
}
