<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Transmission</short>
  <description>Transmission bittorrent peer</description>
  <port port="52943" protocol="tcp"/>
  <port port="52943" protocol="udp"/>
</service>
