    alarm: systemd_service_transmission
       on: systemdunits_service-units.unit_transmission-daemon_service_state
     calc: $failed
    every: 10s
     crit: $this = 1
    units: failed service
     info: transmission-daemon service status
       to: sysadmin

