<VirtualHost *:80>
    ServerName {{ homepage_fqdn }}
    ServerAdmin webmaster@{{ homepage_fqdn }}
{% for alias in homepage_vhost_aliases %}
    ServerAlias {{ alias }}
{% endfor %}
{% if homepage_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if homepage_https_mode == 'letsencrypt' %}
MDomain {{ homepage_fqdn }}
{% endif %}

<VirtualHost *:443>
  ServerName  {{ homepage_fqdn }}
  ServerAdmin webmaster@{{ homepage_fqdn }}
{% for alias in homepage_vhost_aliases %}
  ServerAlias {{ alias }}
{% endfor %}
  SSLEngine on
{% if homepage_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ homepage_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ homepage_fqdn }}.key
{% endif %}
{% if not homepage_enable_service %}
  DocumentRoot /var/www/maintenance/
  ErrorDocument 503 /maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteRule ^.*$ - [R=503,L]
{% else %}
  DocumentRoot /var/www/{{ homepage_fqdn }}
{% endif %}
</VirtualHost>
