<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="shortcut icon" href="res/services.png"/>
    <link rel="icon" type="image/png" href="res/services.png" sizes="16x16"/>
        <meta charset="utf-8"/>
        <title>{{ homepage_title }}</title>
    <style>
    body {
      background: #1c1f20;
      color: #FFF;
      font-family: "Liberation Sans", "Helvetica", "Roboto", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 960px;
    }

    a {
      color: #FFF;
      text-decoration: none;
    }

    h1 {
      display: block;
      text-align: center;
    }

    h5 {
      margin: 0;
    }

    img {
        vertical-align: middle;
        margin: 0 0 3px 0;
    }

    code {
      color: #EEE;
      background-color: #212527;
      padding: 2px;
    }

    hr {
      color: #FFF;
      border-style: 1px solid;
      background-color: #FFF;
    }

    .content {
      height: 100%;
      width: 30%;
      margin: 0 auto 0 auto;
      text-align: center;
      display: block;
    }

    .content a {
      display: block;
      /*transition: background-color 0.4s, color 0.4s, border-color 0.1s;*/
      margin: 2px auto 2px auto;
      text-align: center;
      border-radius: 2px;
      padding: 3px;
      color: #FFF;
      border: 0px solid transparent;
    }

    .admin {
      height: 100%;
      min-width: 330px;
      max-width: 90%;
      margin: 0 auto 0 auto;
      text-align: left;
      display: block;
    }

    .admin a {
        color: #2D5175;
    }

    .search-box {
      background: #292421;
      color: white;
      font-size: 1em;
      margin: 0;
      padding: 0.5em;
    }

    .nextcloud:hover a, .nextcloud:hover {
      background-color: #0082C9;
      color: #fff;
    }

    .rocketchat:hover a, .rocketchat:hover {
      background-color: #A50200;
      color: #fff;
    }

    .shaarli:hover a, .shaarli:hover {
      background-color: #1B926C;
      color: #fff;
    }

    .tt-rss:hover a, .tt-rss:hover {
      background-color: #F2762E;
      color: #fff;
    }

    .transmission:hover a, .transmission:hover {
      background-color: #A50200;
      color: #fff;
    }

    .gitea:hover a, .gitea:hover {
      background-color: #c33225;
      color: #fff;
    }

    .mumble:hover a, .mumble:hover {
      background-color: #545454;
      color: #fff;
    }

    .ldap-account-manager:hover a, .ldap-account-manager:hover {
      background-color: #009587;
      color: #fff;
    }

    .icecast:hover a, .icecast:hover {
      background-color: #D0AE21;
      color: #fff;
    }

    .netdata:hover a, .netdata:hover {
      background-color: #45db73;
      color: #fff;
    }

    .ssh:hover a, .ssh:hover {
      background-color: #000;
      border-color: #000;
      color: #fff;
    }

    .sftp:hover a, .sftp:hover {
      background-color: #5294E2;
      color: #fff;
    }

    .samba:hover a, .samba:hover {
      background-color: #d6c39a;
      color: #fff;
    }

    form {
      margin: 2.5em 0 0 0;
      padding: 0;
    }

    ::placeholder {
      color: white;
    }
    </style>
    </head>
    <body>
      <h1><a href="{{ inventory_hostname }}">{{ inventory_hostname }}</a></h1>
    <div class="content">
      {% if 'nodiscc.xsrv.nextcloud' in role_names %}
      <a class="nextcloud" href="https://{{ nextcloud_fqdn }}"><img src="res/nextcloud.png"/> nextcloud</a>
      {% endif %}
      {% if 'nodiscc.xsrv.rocketchat' in role_names %}
      <a class="rocketchat" href="https://{{ rocketchat_fqdn }}"><img src="res/rocketchat.png"/> rocketchat</a>
      {% endif %}
      {% if 'nodiscc.xsrv.shaarli' in role_names %}
      <a class="shaarli" href="https://{{ shaarli_fqdn }}"><img src="res/shaarli.png"/> shaarli</a>
      {% endif %}
      {% if 'nodiscc.xsrv.tt_rss' in role_names %}
      <a class="tt-rss" href="https://{{ tt_rss_fqdn }}"><img src="res/tt-rss.png"/> tt-rss</a>
      {% endif %}
      {% if 'nodiscc.xsrv.transmission' in role_names %}
      <a class="transmission" href="https://{{ transmission_fqdn }}"><img src="res/transmission.png"/> transmission</a>
      {% endif %}
      {% if 'nodiscc.xsrv.gitea' in role_names %}
      <a class="gitea" href="https://{{ gitea_fqdn }}"><img src="res/gitea.png"/> gitea</a>
      {% endif %}
      {% if 'nodiscc.xsrv.openldap' in role_names and openldap_setup_lam %}
      <a class="mumble" href="https://{{ inventory_hostname }}"><img src="res/mumble.png"/> mumble</a>
      {% endif %}
      {% if 'nodiscc.xsrv.nodiscc.xsrv.openldap' in role_names and openldap_setup_lam %}
      <a class="ldap-account-manager" href="https://{{ ldap_account_manager_fqdn }}"><img src="res/ldap-account-manager.png"/> ldap-account-manager</a>
      {% endif %}
      {% if 'nodiscc.xsrv.monitoring' in role_names %}
      <a class="netdata" href="https://{{ inventory_hostname }}:19999/#theme=white"><img src="res/netdata.png"/> netdata</a>
      {% endif %}
      <a class="ssh"><img src="res/ssh.png"/> ssh <code>ssh user@{{ inventory_hostname }}</code></a>
      <a class="sftp"><img src="res/sftp.png"/> sftp <code>sftp://user@{{ inventory_hostname }}</code></a>
      <a class="samba"><img src="res/samba.png"/> samba <code>smb://user@{{ inventory_hostname }}</code></a>
    </div>

    </body>
</html>


