<!doctype html>

<html>

    <head>
        <link rel="shortcut icon" href="res/services.png"/>
        <link rel="icon" type="image/png" href="res/services.png" sizes="16x16"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>{{ homepage_title }}</title>
        <link rel="stylesheet" type="text/css" href="res/simplegrid.css" />
        <style>
            body {
                background: #ffffff;
                color: rgb(15, 15, 15);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 85%;
                line-height: 1.5;
            }
            h1 {
                text-align: center;
            }
            .content {
                background: #ffffff;
                margin-top: 1px;
                margin-bottom: 5px;
                text-align: center;
                border-radius: 0px;
                border: #DFDFDF 1px solid;
                height: 80px;
                box-shadow: 3px 6px 30px -14px rgba(0,0,0,.25);
                
            }
            a {
                color: rgb(15, 15, 15);
                text-decoration: none;
            }
            input {
                width: 90%;
                background-color: #f4f4f4;
                border: 0px;
                border-radius: 2px;
                color:  #474747;
                font-family: monospace;
            }
            .message {
                text-align: center;
                color; #AAA;
                display: block;
                border-radius: 2px;
                margin-top: 12px;
            }
            .message a:hover {
                text-decoration: underline;
            }
            .nextcloud :hover{
                border-color: #107BB5;
            }
            .rocketchat :hover{
                border-color: #B52D33;
            }
            .shaarli :hover{
                border-color: #166E4C;
            }
            .tt-rss :hover{
                border-color: #EA8E31;
            }
            .rss-bridge :hover{
                border-color: #FF6600;
            }
            .transmission :hover{
                border-color: #C64337;
            }
            .gitea :hover{
                border-color: #B73429;
            }
            .jellyfin :hover{
                border-color: #835AAC;
            }
            .mumble :hover{
                border-color: #5F5F5F;
            }
            .ldap-account-manager :hover{
                border-color: #009687;
            }
            .self-service-password :hover{
                border-color: #EB8927;
            }
            .netdata :hover{
                border-color: #45DB73;
            }
            .graylog :hover{
                border-color: #E84139;
            }
            .ssh :hover {
                border-color: #4E4E4E;
            }
            .sftp :hover{
                border-color: #5195E3;
            }
            .samba :hover{
                border-color: #B08F6C;
            }
            .gotty :hover{
                border-color: #58FE00;
            }
        </style>
    </head>

    <body>
        <!-- Grid 1/2 -->
        <div class="grid grid-pad">
            <div class="col-1-1 mobile-col-1-1">
                <h1>{{ homepage_title }}</h1>
            </div>
{% if ansible_local.nextcloud.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 nextcloud">
                <a href="https://{{ ansible_local.nextcloud.fqdn }}">
                    <div class="content">
                        <p><img src="res/nextcloud.png"/><br/> Nextcloud</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.rocketchat.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 rocketchat">
                <a href="https://{{ ansible_local.rocketchat.fqdn }}">
                    <div class="content">
                        <p><img src="res/rocketchat.png"/><br/> Rocket.Chat</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.shaarli.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 shaarli">
                <a href="https://{{ ansible_local.shaarli.fqdn }}">
                    <div class="content">
                        <p><img src="res/shaarli.png"/><br/> Shaarli</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.tt_rss.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 tt-rss">
                <a href="https://{{ ansible_local.tt_rss.fqdn }}">
                    <div class="content">
                        <p><img src="res/tt-rss.png"/><br/> Tiny Tiny RSS</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.rss_bridge.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 rss-bridge">
                <a href="https://{{ ansible_local.rss_bridge.fqdn }}">
                    <div class="content">
                        <p><img src="res/rss-bridge.png"/><br/> RSS-Bridge</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.transmission.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 transmission">
                <a href="https://{{ ansible_local.transmission.fqdn }}">
                    <div class="content">
                        <p><img src="res/transmission.png"/><br/> Transmission</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.gitea.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 gitea">
                <a href="https://{{ ansible_local.gitea.fqdn }}">
                    <div class="content">
                        <p><img src="res/gitea.png"/><br/> Gitea</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.jellyfin.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 jellyfin">
                <a href="https://{{ ansible_local.jellyfin.fqdn }}">
                    <div class="content">
                        <p><img src="res/jellyfin.png"/><br/> Jellyfin</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.mumble.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="mumble" href="mumble://{{ inventory_hostname }}:{{ mumble_port }}">
                    <div class="content">
                        <p><img src="res/mumble.png"/><br/> Mumble</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.ldap_account_manager.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="ldap-account-manager" href="https://{{ ansible_local.ldap_account_manager.fqdn }}">
                    <div class="content">
                        <p><img src="res/ldap-account-manager.png"/><br/> LDAP Account Manager</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.self_service_password.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="self-service-password" href="https://{{ ansible_local.self_service_password.fqdn }}">
                    <div class="content">
                        <p><img src="res/self-service-password.png"/><br/> Self-Service Password</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.netdata.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="netdata" href="https://{{ inventory_hostname }}:19999/">
                    <div class="content">
                        <p><img src="res/netdata.png"/><br/> Netdata</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.graylog.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="graylog" href="https://{{ ansible_local.graylog.fqdn }}/">
                    <div class="content">
                        <p><img src="res/graylog.png"/><br/> Graylog</p>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.gotty.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1">
                <a class="gotty" href="https://{{ ansible_local.gotty.fqdn }}/">
                    <div class="content">
                        <p><img src="res/gotty.png"/><br/> GoTTY</p>
                    </div>
                </a>
            </div>
{% endif %}
            <div class="col-1-3 mobile-col-1-1 ssh">
                <div class="content">
                    <p><img src="res/ssh.png"/><br/>SSH<br/><input type="text" readonly value="ssh -p {{ ansible_ssh_port|default('22')}} {{ ansible_user }}@{{ inventory_hostname }}"></input></p>
                </div>
            </div>
            <div class="col-1-3 mobile-col-1-1 sftp">
                <div class="content">
                    <p><img src="res/sftp.png"/><br/>SFTP<br/><input type="text" readonly value="sftp://{{ ansible_user }}@{{ inventory_hostname }}:{{ ansible_ssh_port|default('22')}}"></input></p>
                </div>
            </div>
{% if ansible_local.samba.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1 samba">
                <div class="content">
                    <p><img src="res/samba.png"/><br/>Samba<br/><input type="text" readonly value="smb://{{ inventory_hostname }}"></input></p>
                </div>
            </div>
{% endif %}
            <div class="col-1-1 mobile-col-1-1 message">
                {{ homepage_message }}
            </div>
        </div>
    </body>
</html>
