{% if owncast_enable_service %}
  - name: owncast
    timeout: 1
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1
    headers:
      Host: "{{ owncast_fqdn }}"
{% if owncast_auth_enabled %}
    status_accepted:
      - 401
{% endif %}
{% endif %}
