[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner
After=docker.service

[Service]
ExecStart=/usr/local/bin/act-runner daemon --config /etc/act-runner/config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory=/var/lib/act-runner
TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
StartLimitInterval=60s
User=act-runner
# Delegate=yes
# Type=notify
# NotifyAccess=all
# KillMode=mixed

[Install]
WantedBy=multi-user.target
