##### TRANSMISSION BITTORRENT CLIENT #####
# username/password for remote control web interface
transmission_username: "CHANGEME"
transmission_password: "CHANGEME"
# fully qualified domain name for the transmission web interface
transmission_fqdn: torrent.CHANGEME.org
# Torrents download directory for
transmission_download_dir: '/var/lib/transmission-daemon/downloads'
# HTTPS and SSL/TLS certificate mode for the transmission webserver virtualhost
#   letsencrypt: acquire a certificate from letsencrypt.org
#   selfsigned: generate a self-signed certificate (will generate warning in browsers and clients)
transmission_https_mode: selfsigned
# yes/no: start/stop the transmission bitorrent client, enable/disable it on boot
transmission_enable_service: yes
# yes/no: if the nodiscc.xsrv.backup role is enabled, backup transmission downloads automatically
# disabled by default as it can consume a lot of disk space
transmission_backup_downloads: no
# firewall zones for the transmission bittorrent service (peer communication), if nodiscc.xsrv.common/firewalld role is deployed
# 'zone:' is one of firewalld zones, set 'state:' to 'disabled' to remove the rule (the default is state: enabled)
transmission_firewalld_zones:
  - zone: public
    state: enabled
