- name: check samba configuration
  become: yes
  command: testparm -s
  listen: reload samba
  changed_when: no

- name: reload samba
  become: yes
  service:
    name: "{{ item }}"
    state: reloaded
  with_items:
    - smbd
    - nmbd
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart nslcd
  become: yes
  service:
    name: nslcd
    state: restarted
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart nscd
  become: yes
  service:
    name: nscd
    state: restarted
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"
