##### JELLYFIN INSTALLATION #####

- name: install jellyfin requirements
  apt:
    state: present
    package:
      - apt-transport-https
      - python3-lxml

- name: migration/1.10.0 - remove old jellyfin key from APT keyring
  apt_key:
    id: 4918AABC486CA052358D778D49023CD01DE21A7B
    state: absent
  ignore_errors: "{{ ansible_check_mode }}"

- name: add jellyfin APT signing keys
  copy:
    src: usr_share_keyrings_jellyfin.gpg
    dest: /usr/share/keyrings/jellyfin.gpg
    owner: root
    group: root
    mode: 0644
  notify: update apt cache

- name: add jellyfin APT repository
  template:
    src: etc_apt_sources.list.d_jellyfin.list.j2
    dest: /etc/apt/sources.list.d/jellyfin.list
    owner: root
    group: root
    mode: 0644
  notify: update apt cache

# update APT cache for jellyfin packages to become available
- name: apply configuration (flush handlers)
  meta: flush_handlers

- name: install jellyfin
  apt:
    state: present
    package: jellyfin
  notify: display jellyfin first run message
  ignore_errors: "{{ ansible_check_mode }}"

- name: build dictionary for jellyfin remote IP filter
  set_fact:
    jellyfin_allowed_hosts_dict: "{{ jellyfin_allowed_hosts | map('community.general.dict_kv', 'string') }}"

- name: configure jellyfin remote IP filter
  xml:
    path: /etc/jellyfin/network.xml
    xpath: /NetworkConfiguration/RemoteIPFilter
    set_children: "{{ jellyfin_allowed_hosts_dict }}"
    pretty_print: yes
  notify: restart jellyfin

##### MEDIA DIRECTORIES #####

- name: create default media directories
  file:
    path: "/var/lib/jellyfin/{{ item }}"
    state: directory
    owner: jellyfin
    group: jellyfin
    mode: 02770
  with_items:
    - media
    - media/movies
    - media/music
    - media/shows
    - media/books
    - media/photos
    - media/musicvideos
    - media/mixedcontent

- name: create symlink from home directory to jellyfin media directory
  file:
    state: link
    dest: "{{ ansible_env.HOME }}/MEDIA"
    src: "/var/lib/jellyfin/media/"
  ignore_errors: "{{ ansible_check_mode }}"

# required to allow jellyfin group to write in subdirectories
- name: set permissions on jellyfin data directory
  file:
    path: /var/lib/jellyfin
    owner: jellyfin
    group: jellyfin
    mode: 0770
  ignore_errors: "{{ ansible_check_mode }}"

- name: allow ansible user to read/write jellyfin data files
  user:
    name: "{{ ansible_user }}"
    groups: jellyfin
    append: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: allow jellyfin to read/write transmission downloads directory
  user:
    name: jellyfin
    groups: debian-transmission
    append: yes
  when:
    - ansible_local.transmission.ansible_managed is defined
    - ansible_local.transmission.ansible_managed | bool
  ignore_errors: "{{ ansible_check_mode }}"

##### SERVICE #####

- name: start/stop/enable/disable jellyfin service
  service:
    name: jellyfin
    state: "{{ 'started' if jellyfin_enable_service else 'stopped' }}"
    enabled: "{{ 'yes' if jellyfin_enable_service else 'no' }}"
  tags: services
  ignore_errors: "{{ ansible_check_mode }}"
