##### PACKAGES #####

- name: configure APT to install apache and modules from backports (Debian 10)
  template:
    src: etc_apt_preferences.d_99-apache2-buster-backports.j2
    dest: /etc/apt/preferences.d/99-apache2-buster-backports
    mode: 0644
  when: ansible_facts.distribution == 'Debian' and ansible_facts.distribution_release == 'buster'

- name: install apache/php packages
  apt:
    state: present
    package:
      - apache2
      - libapache2-mod-evasive
      - libapache2-mod-md
      - libapache2-mod-fcgid
      - php-apcu
      - php
      - php-fpm
  tags: ssl

- name: remove mod-php (replaced with php-fpm)
  apt:
    package:
      - libapache2-mod-php
      - libapache2-mod-php7.0
      - libapache2-mod-php7.2
      - libapache2-mod-php7.3
      - libapache2-mod-php7.4
      - libapache2-mod-php8.0
      - libapache2-mod-php8.1
    state: absent
  notify: restart apache

# restart apache to apply mod-php removal
- name: apply configuration (flush handlers)
  meta: flush_handlers

##### APACHE MODULES/CONFIGURATON #####

- name: copy apache/php configuration
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
  with_items:
    - { src: 'etc_apache2_conf-available_security.conf.j2', dest: '/etc/apache2/conf-available/security.conf' }
    - { src: 'etc_apache2_conf-available_logging.conf.j2', dest: '/etc/apache2/conf-available/logging.conf' }
    - { src: 'etc_apache2_conf-available_ssl-common.conf.j2', dest: '/etc/apache2/conf-available/ssl-common.conf' }
    - { src: 'etc_apache2_conf-available_mod-md.conf.j2', dest: '/etc/apache2/conf-available/mod-md.conf' }
    - { src: 'etc_apache2_ports.conf.j2', dest: '/etc/apache2/ports.conf' }
    - { src: 'etc_php_PHPVERSION_fpm_pool.d_www.conf.j2', dest: '/etc/php/{{ php_fpm_version }}/fpm/pool.d/www.conf' }
    - { src: 'etc_php_PHPVERSION_cli_conf.d_20-apcu.ini.j2', dest: '/etc/php/{{ php_fpm_version }}/cli/conf.d/20-apcu.ini' }
  notify:
    - reload apache
    - restart php-fpm
  tags: ssl

- name: disable unnecessary apache modules
  command: a2dismod {{ item }}
  args:
    removes: /etc/apache2/mods-enabled/{{ item }}.load
  with_items:
    - 'cgi'
    - 'php7.0' # conflicts with mpm_event
    - 'php7.2' # conflicts with mpm_event
    - 'php7.3' # conflicts with mpm_event
    - 'php7.4' # conflicts with mpm_event
    - 'mpm_prefork' # conflicts with mpm_event
  notify: restart apache

- name: enable apache modules
  command: a2enmod {{ item }}
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  with_items:
    - 'auth_basic'
    - 'headers'
    - 'rewrite'
    - 'md'
    - 'ssl'
    - 'mpm_event'
    - 'proxy'
    - 'proxy_fcgi'
    - 'http2'
  notify: restart apache
  tags: ssl

- name: enable apache configuration snippets
  command: a2enconf {{ item }}
  args:
    creates: "/etc/apache2/conf-enabled/{{ item }}.conf"
  with_items:
    - 'security'
    - 'logging'
    - 'ssl-common'
    - 'mod-md'
    - 'php7.4-fpm'
  notify: reload apache
  tags: ssl

- name: include mod-evasive configuration tasks
  include: apache-mod-evasive.yml

- name: copy apache sites config
  template:
    src: etc_apache2_sites-available_000-sites.conf.j2
    dest: /etc/apache2/sites-available/000-sites.conf
    mode: 0644
  notify: reload apache

- name: enable apache sites configuration
  command: a2ensite 000-sites
  args:
    creates: /etc/apache2/sites-enabled/000-sites.conf
  notify: reload apache

- name: migration - remove apache/php configuration from old versions of the role
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/apache2/sites-enabled/sites.conf
    - /etc/apache2/sites-available/sites.conf
    - /etc/php/7.4/apache2/conf.d/30-hide-header.ini
  notify: reload apache

- name: remove apache default sites
  file:
    path: "/etc/apache2/sites-enabled/000-default.conf"
    state: absent
  with_items:
    - /etc/apache2/sites-enabled/000-default.conf
    - /etc/apache2/sites-enabled/default-ssl.conf
    - /var/www/html/index.html
  notify: reload apache

- name: create work directory for mod_md automatic reload script
  file:
    state: directory
    path: /var/lib/apache2/md
    owner: www-data
    group: www-data
    mode: 0755

- name: copy automatic reload script for mod_md MDMessageCmd
  copy:
    src: usr_local_bin_apache-mod-md-reload
    dest: /usr/local/bin/apache-mod-md-reload
    owner: root
    group: root
    mode: 0755

- name: schedule automatic reload of the service on mod_md certificate changes
  cron:
    user: root
    cron_file: '/etc/cron.d/apache-mod-md-reload'
    name: apache-mod-md-reload
    hour: '*'
    minute: '*'
    day: '*'
    job: '/usr/local/bin/apache-mod-md-reload check-reload | logger -t apache-mod-md-reload'

##### SERVICES #####

- name: enable/disable start/stop apache2 service
  systemd:
    name: apache2
    enabled: "{{ apache_enable_service }}"
    state: "{{ 'started' if apache_enable_service else 'stopped' }}"
    daemon_reload: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: enable/disable start/stop php-fpm service
  systemd:
    name: php7.4-fpm
    enabled: "{{ apache_enable_service }}"
    state: "{{ 'started' if apache_enable_service else 'stopped' }}"
    daemon_reload: yes
  ignore_errors: "{{ ansible_check_mode }}"
