- name: install netdata checks for apache
  template:
    src: etc_netdata_go.d_httpcheck.conf.d_apache-reverseproxies.conf.j2
    dest: /etc/netdata/go.d/httpcheck.conf.d/apache-reverseproxies.conf
    owner: root
    group: netdata
    mode: "0640"
  notify: assemble netdata configuration
  ignore_errors: "{{ ansible_check_mode }}"
