# do not track configuration in git
# this prevents accidentally pushing configuration secrets to a public git host
# if you have a private git server you can uncomment this to start tracking your configuration in git
inventory.yml
playbook.yml
host_vars/*
secrets/*
public/*

# force tracking of READMEs
!host_vars/README.md
!secrets/README.md
!public/README.md
!backups/README.md

# do not track local copies of backups in git
backups/*

# do not track roles downloaded by ansible-galaxy
roles/common/
roles/backup/
roles/monitoring/
roles/lamp/
roles/nextcloud/

# do not track the python virtualenv in git
.venv/