.venv/
nodiscc-xsrv-*.tar.gz
/ansible_collections/
docs/html/
/tests/playbooks/xsrv-test/ansible_collections/
/tests/playbooks/xsrv-test/data/cache/facts/
/tests/playbooks/xsrv-init-playbook/
/my.example.test.xml
.vscode/tasks.json
