# do not track the invrentory and playbook in git
inventory.yml
playbook.yml

# do not track host configuration variables in git
host_vars/*

# do not track secrets in git
secrets/*

# do not track public certificates/keys in git
public/*

# do not track local copies of backups in git
# (there is no reason to comment this out)
backups/*

# force tracking of READMEs
!host_vars/README.md
!secrets/README.md
!public/README.md
!backups/README.md
