[Unit]
Description=llamacpp local LLM service
After=syslog.target
After=network.target

[Service]
User=llamacpp
Group=llamacpp
Type=simple
WorkingDirectory=/var/lib/llamacpp/
ExecStart=/opt/llamacpp/llama-{{ llamacpp_version }}/llama-server \
  --models-preset /var/lib/llamacpp/presets.ini \
  --sleep-idle-seconds {{ llamacpp_sleep_idle_seconds }} \
  --jinja --ctx-size {{ llamacpp_context_size }} --host 127.0.0.1 --port 8033

[Install]
WantedBy=multi-user.target

