[Unit]
Description=llamacpp local LLM service
After=syslog.target
After=network.target
Conflicts=stable-diffusion-cpp-server.service

[Service]
User=llamacpp
Group=llamacpp
Type=simple
WorkingDirectory=/var/lib/llamacpp/
ExecStart=/opt/llamacpp/llama-{{ llamacpp_version }}/llama-server \
  --models-preset /var/lib/llamacpp/presets.ini \
  --sleep-idle-seconds {{ llamacpp_sleep_idle_seconds }} \
  --jinja --ctx-size {{ llamacpp_context_size }} --host {{ llamacpp_listen_address }} --port 8033{% if llamacpp_auth_enabled %} \
  --api-key-file /var/lib/llamacpp/api_key{% endif %}

[Install]
WantedBy=multi-user.target

