- name: restart slapd
  become: yes
  service:
    name: slapd
    state: restarted
    enabled: yes
  when: openldap_enable_service | bool
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart php-fpm
  service:
    name: php{{ openldap_php_fpm_version }}-fpm
    state: restarted
    enabled: yes
  become: yes
  ignore_errors: "{{ ansible_check_mode }}"
