    alarm: systemd_service_postgresql
       on: systemdunits_service-units.service_unit_state
     calc: $postgresql
    every: 10s
     crit: ($this = 5)
    units: state
     info: postgresql server service status
       to: sysadmin

