# rsyslog configuration for postgresql logs

input(type="imfile"
      File="/var/log/postgresql/postgresql-{{ postgresql_version }}-main.log"
      Tag="postgresql:"
      Facility="daemon"
      PersistStateInterval="0")
