#!/bin/bash
# Description: dump all postgres databases to separate files + dump global variables
set -o errexit
set -o nounset

cd /var/backups/postgresql/ # prevents could not change directory to "/root": Permission denied

DBLIST=$(sudo -u postgres /usr/bin/psql -d postgres -q -t -c 'SELECT datname from pg_database')

for db in $DBLIST; do
    if [[ "$db" =~ ^template.? ]]; then
        echo "[INFO] Skipping database $db";
    else
        echo "[INFO] Dumping database $db ..."
        sudo -u postgres /usr/bin/pg_dump --format custom --dbname "$db" --file "/var/backups/postgresql/$db.sql"
        echo "[INFO] Finished dumping database $db"
    fi
done

echo "[INFO] dumping global variables..."
sudo -u postgres /usr/bin/pg_dumpall --globals-only --file "/var/backups/postgresql/postgres-globals.sql"
echo "[INFO] Finished dumping global variables"
