##### LYNIS SECURITY AUDIT #####
# setup lynis security audit tool (yes/no)
setup_lynis: yes
# list of strings to extract from lynis reports and forward by mail
lynis_report_regex: 'warning|suggestion|manual'
# list of lynis tests to ignore/skip (https://cisofy.com/lynis/controls/)
lynis_skip_tests:
  - "CUST-0285" # Install libpam-usb to enable multi-factor authentication for PAM sessions (we don't use multi-factor auth for SSH)
  - "CUST-0830" # Install debian-goodies so that you can run checkrestart (needrestart is used instead)
  - "BOOT-5122" # Password on GRUB bootloader to prevent altering boot configuration (access protected by physical security/hoster/hypervisor console password)
  - "AUTH-9286" # Configure minimum/maximum password age in /etc/login.defs (we don't enforce password aging)
  - "AUTH-9308" # No password set for single mode (access protected by physical security/hoster/hypervisor console password)
  - "FILE-6310" # place /tmp on a separated partition (root partition free disk space is monitored by netdata)
  - "TIME-3120" # Check ntpq peers output for unreliable ntp peers (we use a NTP pool, correct NTP peers wil be selected automatically)
  - "CONT-8104" # Run 'docker info' to see warnings applicable to Docker daemon (no swap support)
  - "AUTH-9283" # logins without password are denied by PAM and SSH (nodiscc.xsrv.common)
  - "BANN-7126" # legal banner for local logins is not needed
  - "BANN-7130" # legal banner for ssh logins is not needed
  - "LOGG-2190" # open file descriptors on deleted files is normal behavior
  - "SSH-7408:Port" # changing ssh listen port from 22 does not mitigate the risk, not a security measure, can also be set to a non-standard port in NAT
  - "SSH-7408:ClientAliveCountMax" # 3 is an acceptable value, nodiscc.xsrv.common sets the value to 3
  - "SSH-7408:Compression" # any of yes/delayed/no can be considered secure since 2018 (pre-authentication compression never enabled)
  - "SSH-7408:MaxAuthTries" # 5 is an acceptable value (nodiscc.xsrv.common), lowering it may cause login failures from systems where more than 3 ssh private keys are available
  - "SSH-7408:MaxSessions" # 10 is an acceptable values, SSH connection multiplexing cannot be abused/cause performance issues unless the user is authenticated
  - "PHP-2376" # allow_url_fopen is used legitimately by several applications in file_get_contents() to fetch remote files
  - "HRDN-7230" # malware/rootkit detection software is inefficient when run on a compromised host
# when to verify installed package files against MD5 checksums (daily/weekly/monthly/never)
debsums_cron_check: "daily"
