{% if matrix_synapse_enable_service %}
  - name: matrix-synapse
    timeout: 3
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1/_matrix/client/versions
    headers:
      Host: "{{ matrix_synapse_fqdn }}"
{% endif %}

{% if matrix_synapse_admin_enable_service %}
  - name: matrix-synapse-admin
    timeout: 3
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1/
    headers:
      Host: "{{ matrix_synapse_fqdn }}"
{% endif %}

{% if matrix_element_enable_service %}
  - name: matrix-element
    timeout: 3
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1/
    headers:
      Host: "{{ matrix_element_fqdn }}"
{% endif %}
