##### JELLYFIN MEDIA SERVER #####

# fully qualified domain name of the jellyfin instance
# jellyfin_fqdn: "media.CHANGEME.org"

# HTTPS and SSL/TLS certificate mode for the jellyfin webserver virtualhost
#   letsencrypt: acquire a certificate from letsencrypt.org
#   selfsigned: generate a self-signed certificate
jellyfin_https_mode: selfsigned

# yes/no: start/stop the jellyfin webserver, enable/disable it on boot
jellyfin_enable_service: yes

# yes/no: enable automatic backups of the default jellyfin media directory (when the backup role is enabled)
# disabled by default - this can consume a lot of space on the backup storage, please configure backups manually,
# or set this to yes if you really want to backup all your media
# backups of the jellyfin samba share are controlled by a different variable (samba_enable_backups)
# database/metadata/configuration is always backed up automaticllay when the backup role is enabled
jellyfin_enable_media_backups: no

# if the samba role is enabled, enable a jellyfin samba share (upload media files there)
jellyfin_samba_share_enabled: yes
# lists of users allowed to read/write to the jellyfin samba share (use @groupname for groups)
jellyfin_samba_share_allow_write_users: []
jellyfin_samba_share_allow_read_users: []
