{% if netdata_min_running_docker_containers is defined and netdata_max_running_docker_containers is defined %}
template: docker_unhealthy_containers
      on: docker.unhealthy_containers
   units: unhealthy containers
   every: 10s
  lookup: average -10s
    crit: $this > 0
    info: number of unhealthy containers
      to: sysadmin
   class: Errors

   alarm: docker_running_containers
      on: dockerd_local.running_containers
   units: running containers
   every: 10s
  lookup: average -10s
    crit: ($this < {{ netdata_min_running_docker_containers }}) OR ($this > {{ netdata_max_running_docker_containers }})
    info: number of running containers
      to: sysadmin
   class: Errors
{% endif %}
