    alarm: systemd_service_docker
       on: systemdunits_service-units.unit_docker_service_state
     calc: $failed
    every: 10s
     crit: $this = 1
    units: failed service
     info: docker engine service status
       to: sysadmin

