##### PACKAGES #####

- name: install samba packages
  apt:
    state: present
    package:
      - samba
      - samba-common
      - samba-common-bin
      - samba-vfs-modules

##### CONFIGURATION #####

- name: Load nf_conntrack_netbios_ns kernel module
  modprobe:
    name: nf_conntrack_netbios_ns
    state: present

- name: load required kernel modules on boot
  template:
    src: etc_modules-load.d_nf-conntrack-netbios-ns.conf.j2
    dest: /etc/modules-load.d/nf-conntrack-netbios-ns.conf
    owner: root
    group: root
    mode: 0640

- name: set samba LDAP admin dn password (always returns changed)
  command: "smbpasswd -w {{ openldap_admin_password }}"  # noqa 301
  when: samba_passdb_backend == 'ldapsam'

- name: get samba server SID
  command: net getlocalsid
  register: samba_localsid
  changed_when: False

- name: copy samba configuration
  template:
    src: etc_samba_smb.conf.j2
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: 0640
  notify: reload samba
  tags: samba-shares

##### SHARE DIRECTORIES #####

- name: create sambausers group
  group:
    name: sambausers
    state: present
    system: yes

- name: create base shares directory
  file:
    path: "{{ samba_shares_path }}"
    state: directory
    owner: root
    group: sambausers
    mode: 0750
  tags: samba-shares

- name: create individual samba shares directories
  file:
    path: "{{ samba_shares_path }}/{{ item.name }}"
    state: "{{ item.state | default('directory') }}"
    owner: root
    group: sambausers
    mode: 0775
  with_items: "{{ samba_shares }}"
  tags: samba-shares
