<VirtualHost *:80>
    DocumentRoot /var/www/html
    ServerName {{ searxng_fqdn }}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

{% if searxng_https_mode == 'letsencrypt' %}
MDomain {{ searxng_fqdn }}
{% endif %}

<VirtualHost *:443>
  DocumentRoot /var/www/html
  ServerName  {{ searxng_fqdn }}
  SSLEngine on
{% if searxng_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ searxng_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ searxng_fqdn }}.key
{% endif %}
{% if not searxng_enable_service %}
  DocumentRoot /var/www/maintenance/
  ErrorDocument 503 /maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteRule ^.*$ - [R=503,L]
{% else %}
  <Location />
{% if searxng_auth_enabled %}
    AuthType Basic
    AuthName "Authorization required"
    AuthBasicProvider file
    AuthUserFile /etc/apache2/searxng-passwd
    <RequireAll>
      Require valid-user
    </RequireAll>
{% endif %}
  </Location>
  RequestHeader set X-Forwarded-Proto "https"
  ProxyPreserveHost On
  ProxyPass        / http://127.0.0.1:8091/
  ProxyPassReverse / http://127.0.0.1:8091/
{% endif %}
</VirtualHost>
