# Default Fail2ban configuration values

[DEFAULT]
# list of IPs that should never be banned
ignoreip  = 127.0.0.1 {{ ' '.join(fail2ban_ignoreip) }}
# time interval (in seconds or time abbreviation format) before the current time where failures will count towards a ban
findtime  = {{ fail2ban_default_findtime }}
# number of failures that have to occur in the last findtime seconds to ban the IP
maxretry  = {{ fail2ban_default_maxretry }}
# effective ban duration (in seconds or time abbreviation format)
bantime   = {{ fail2ban_default_bantime }}
# destination email address used for banactions 'action_m*' which trigger sending an email
destemail = root
# default banning action
banaction = {{ 'firewallcmd-ipset[actiontype=<multiport>,blocktype=DROP,maxelem=1000000]' if (ansible_local.firewalld.ansible_managed is defined and ansible_local.firewalld.ansible_managed) else 'iptables-ipset[type=multiport]' }}
banaction_allports = {{ 'firewallcmd-ipset[actiontype=<allports>,blocktype=DROP,maxelem=1000000]' if (ansible_local.firewalld.ansible_managed is defined and ansible_local.firewalld.ansible_managed) else 'iptables-ipset[type=allports' }}
