# msmtp system wide configuration file
# This allows msmtp to be used like /usr/sbin/sendmail.

# msmtp supports multiple accounts
# This configures the default account
account default

# TCP port to use
# Usually 25 (SMTP), 465 (SMTPS) or 587 (submission)
port {{ msmtp_port }}

# The SMTP smarthost.
host {{ msmtp_host }}

{% if msmtp_from == 'auto' %}
from %U@%H
{% else %}
from {{ msmtp_from }}
{% endif %}

# Enable authentication
auth on

# SMTP authentications username/password
user {{ msmtp_username }}
password {{ msmtp_password }}

# Use TLS.
tls on
{% if msmtp_smtp_host_tls_fingerprint is defined %}tls_fingerprint {{ msmtp_smtp_host_tls_fingerprint }}{% endif %}
tls_starttls {{ 'on' if msmtp_starttls else 'off' }}

# Syslog logging with facility LOG_MAIL instead of the default LOG_USER.
syslog LOG_MAIL

# Replace local recipients with addresses in the aliases file
aliases /etc/aliases
