##### gotty MONITORING #####

- name: add netdata http check for gotty
  template:
    src: etc_netdata_go.d_httpcheck.conf.d_gotty.conf.j2
    dest: /etc/netdata/go.d/httpcheck.conf.d/gotty.conf
    owner: root
    group: netdata
    mode: 0640
  notify: assemble netdata configuration
