    alarm: systemd_service_EXAMPLE
       on: systemdunits_service_units.service_unit_state
     calc: $EXAMPLE
    every: 10s
     crit: ($this = 5)
    units: state
     info: EXAMPLE service status
       to: sysadmin

