[defaults]
# Run ansible modules with python3 on the host
interpreter_python = /usr/bin/python3
# default inventory file
inventory = inventory.yml
# pretty-print ansible output (see ansible-doc -t callback -l for available stdout_callbacks)
stdout_callback = ansible.posix.debug
# additional callbacks can be be whitelisted to extend ansible output
#callback_whitelist = ansible.posix.profile_tasks,ansible.posix.timer
# roles path
roles_path = roles
# Colon separated paths in which Ansible will search for collections content
collections_paths = ./
# ansible-vault password file to use
vault_password_file = .ansible-vault-password
# SSH private key file to use
#private_key_file = ~/.ssh/id_rsa
# cache facts to yaml file
fact_caching = yaml
# store the cache file in the playbook directory
fact_caching_connection = data/cache/facts/
# invalidate the cache after this number of seconds
# set to a low value to save facts to file but invalidate the cache at each run
#fact_caching_timeout = 86400
# verbosity, equivalent to the number of -v passed in the command line
#verbosity = 1
# file to which Ansible will log on the controller - when empty or unset, logging is disabled
#log_path = ansible.log
# set this to “False” to avoid host key checking during SSH connection (potentially insecure)
#host_key_checking = False
# maximum nuber of tasks to execute in parallel
#forks = 5


# tell modules to show differences when in ‘changed’ status, equivalent to --diff.
#[diff]
#always = True

[ssh_connection]
# Re-use SSH connection to speed up ansible operations
# Requires ansible_user_allow_sudo_rsync_nopasswd or similar to disable requiretty for sudo/become
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s -o PreferredAuthentications=publickey
# Pass ansible commands directly to python interpreter stdin instead of uploading files through SFTP (performance)
pipelining = True
