- include: checks.yml
  tags:
    - backup
    - checks

- include: rsnapshot.yml
  become: yes
  tags: backup

- include: rsyslog.yml
  become: yes
  tags:
    - backup
    - monitoring
    - rsyslog
  when:
    - ansible_local.rsyslog.ansible_managed is defined
    - ansible_local.rsyslog.ansible_managed|bool

- include: netdata.yml
  become: yes
  tags:
    - backup
    - monitoring
    - netdata
  when:
    - ansible_local.netdata.ansible_managed is defined
    - ansible_local.netdata.ansible_managed|bool

- include: fact.yml
  become: yes
  tags: backup

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: backup
