##### REQUIREMENTS #####

- name: create backups directory
  file:
    path: "{{ rsnapshot_backup_dir }}"
    state: directory
    owner: root
    group: root
    mode: 0770

- name: create rsnapshot log file
  copy:
    force: no
    content: ""
    dest: /var/log/rsnapshot.log
    owner: root
    group: root
    mode: 0660

##### INSTALLATION/CONFIGURATION #####


- name: install rsnapshot from Debian repositories (Debian 9/10)
  apt:
    package: rsnapshot
    state: present
  when:
    - ansible_facts.distribution == "Debian"
    - ansible_facts.distribution_release == "buster"

- name: download upstream rsnapshot .deb (Debian 11)
  get_url:
    url: https://rsnapshot.org/downloads/rsnapshot_1.4.4-1_all.deb
    dest: /root/rsnapshot_1.4.4-1_all.deb
    checksum: sha256:92f9124e93520f955cf7b52dc23a5dbb30e9dd1b7bc8e02536e4e2df4101bf60
  check_mode: no # run even in check mode so that following tasks don't fail

- name: install rsnapshot from upstream .deb
  apt:
    deb: /root/rsnapshot_1.4.4-1_all.deb

- name: copy rsnapshot configuration
  template:
    src: etc_rsnapshot.conf.j2
    dest: /etc/rsnapshot.conf
    owner: root
    group: root
    mode: 0600
  notify: check rsnapshot configuration

# DEBT use ansible template module/validate parameter
- name: ensure rsnapshot configuration is valid (flush handlers)
  meta: flush_handlers

- name: create /etc/rsnapshot.d dynamic configuration directory
  file:
    path: /etc/rsnapshot.d
    state: directory
    mode: 0700

##### SSH KEYS #####

- name: create ssh client configuration directory for root
  file:
    state: directory
    path: /root/.ssh
    owner: root
    group: root
    mode: 0600
  tags: rsnapshot-ssh-key

- name: create a SSH key pair for root
  openssh_keypair:
    path: /root/.ssh/id_rsa
    mode: 0600
    size: 4096
  register: root_ssh_key
  tags: rsnapshot-ssh-key

- name: store root public SSH key to local fact file
  block:
    - name: create ansible facts.d directory
      file:
        path: /etc/ansible/facts.d
        state: directory
        mode: 0755
    - name: create rsnapshot fact file
      template:
        src: etc_ansible_facts.d_rsnapshot.fact.j2
        dest: /etc/ansible/facts.d/rsnapshot.fact
        mode: 0644
      notify: update ansible facts
      ignore_errors: "{{ ansible_check_mode }}" # root_ssh_key.public_key is never set in check mode, always returns empty/changed
  tags: rsnapshot-ssh-key

# reload ansible local facts
- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: rsnapshot-ssh-key

- name: copy root public SSH key to the controller
  fetch:
    src: /root/.ssh/id_rsa.pub
    dest: "public_keys/root@{{ inventory_hostname }}.pub"
    flat: yes
  tags: rsnapshot-ssh-key

- name: display root public SSH key
  debug:
    msg: >
      Please authorize this key on remote machines backup user accounts:
      {{ ansible_local.rsnapshot.ssh.public_key }}
  ignore_errors: "{{ ansible_check_mode }}"
  tags: rsnapshot-ssh-key

##### SCHEDULING #####

# At 01:00 every day
- name: setup daily backup cron job
  cron:
    user: root
    cron_file: '/etc/cron.d/rsnapshot'
    name: rsnapshot-daily
    hour: '1'
    minute: '0'
    day: '*'
    job: 'rsnapshot daily >/dev/null && touch /var/log/rsnapshot_last_success'

# At 00:30 every sunday
- name: setup weekly backup cron job
  cron:
    user: root
    cron_file: '/etc/cron.d/rsnapshot'
    name: rsnapshot-weekly
    hour: '0'
    minute: '30'
    weekday: '0'
    job: 'rsnapshot weekly >/dev/null'

- name: setup monthly backup cron job
  cron:
    user: root
    cron_file: '/etc/cron.d/rsnapshot'
    name: rsnapshot-monthly
    hour: '4'
    minute: '1'
    day: '1'
    job: 'rsnapshot monthly >/dev/null'
