- name: configure rsyslog to agregate rsnapshot logs to syslog
  template:
    src: etc_rsyslog.d_rsnapshot.conf.j2
    dest: /etc/rsyslog.d/rsnapshot.conf
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
