{% if rocketchat_enable_service %}
  - name: rocketchat
    timeout: 1
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1
    headers:
      Host: "{{ rocketchat_fqdn }}"
{% endif %}
