- name: copy rsnapshot configuration for EXAMPLE backups
  template:
    src: etc_rsnapshot.d_EXAMPLE.conf.j2
    dest: /etc/rsnapshot.d/EXAMPLE.conf
    mode: 0600
  notify: check rsnapshot configuration
