- name: configure rsyslog to aggregate EXAMPLE logs to syslog
  template:
    src: etc_rsyslog.d_EXAMPLE.conf.j2
    dest: /etc/rsyslog.d/EXAMPLE.conf
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
