- name: import variable checks tasks
  import_tasks: checks.yml
  tags:
    - libvirt
    - checks

- name: import libvirt configuration tasks
  import_tasks: libvirt.yml
  become: yes
  tags: libvirt

- name: import metrics exporters configuration tasks
  import_tasks: exporters.yml
  become: yes
  tags:
    - apache
    - monitoring
    - exporters
  when:
    - ansible_local.exporters.ansible_managed is defined
    - ansible_local.exporters.ansible_managed | bool

- name: import ansible facts configuration tasks
  import_tasks: fact.yml
  become: yes
  tags: libvirt

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: libvirt

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: import libvirt VM current memory size update tasks
  include_tasks: utils-libvirt-setmem.yml
  with_items: "{{ libvirt_vms }}"
  when: (item.state is not defined) or (item.state in ['present', 'running', 'destroyed', 'shutdown'])
  tags:
    - never
    - utils-libvirt-setmem
