- name: check that mandatory variables are correctly defined
  assert:
    quiet: yes
    that: item
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/nextcloud"
  with_items:
    - nextcloud_admin_email is not search("CHANGEME")
    - nextcloud_apps|type_debug == "list"
    - nextcloud_data_dir is string
    - nextcloud_db_host is string
    - nextcloud_db_name is string
    - nextcloud_db_password is not search("CHANGEME")
    - nextcloud_db_type in ['pgsql', 'mysql']
    - nextcloud_db_user is string
    - nextcloud_fqdn is not search("CHANGEME")
    - nextcloud_full_url is not search("CHANGEME")
    - nextcloud_https_mode in ['selfsigned', 'letsencrypt']
    - nextcloud_install_dir is string
    - nextcloud_password is not search("CHANGEME")
    - nextcloud_user is not search("CHANGEME")
    - nextcloud_version is string
    - nextcloud_defaultapp is string
    - nextcloud_loglevel == nextcloud_loglevel | int
    - nextcloud_php_memory_limit|regex_search('[KMG]$')
    - nextcloud_php_max_execution_time == nextcloud_php_max_execution_time|int
    - nextcloud_php_max_input_time == nextcloud_php_max_input_time|int
    - nextcloud_php_post_max_size|regex_search('[KMG]$')
    - nextcloud_php_upload_max_filesize|regex_search('[KMG]$')
    - nextcloud_enable_service == nextcloud_enable_service | bool
    - nextcloud_filesystem_check_changes == nextcloud_filesystem_check_changes | bool
    - nextcloud_allowed_hosts | type_debug == "list"
    - nextcloud_smtp_mode in ['disabled', 'smtp', 'smtp+ssl', 'sendmail']

- name: check that variables are correctly defined (nextcloud_smtp_*)
  assert:
    quiet: yes
    fail_msg: "One or more of variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/nextcloud"
    that: item
  when: nextcloud_smtp_mode in ['smtp', 'smtp+ssl']
  with_items:
    - nextcloud_smtp_host is not search('CHANGEME')
    - nextcloud_smtp_port | int
    - nextcloud_smtp_from is not search('CHANGEME')
    - nextcloud_smtp_user is not search('CHANGEME')
    - nextcloud_smtp_password is not search('CHANGEME')

- name: check that variables are correctly defined (nextcloud_allowed_hosts)
  assert:
    quiet: yes
    fail_msg: "One or more of nextcloud_allowed_hosts is not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/nextcloud"
    that:
      - item | ansible.utils.ipv4
  with_items: "{{ nextcloud_allowed_hosts }}"
