- name: add netdata httpcheck for nextcloud
  template:
    src: etc_netdata_go.d_httpcheck.conf.d_nextcloud.conf.j2
    dest: "/etc/netdata/go.d/httpcheck.conf.d/nextcloud.conf"
    owner: root
    group: netdata
    mode: 0640
  notify: assemble netdata configuration
