##### NEXTCLOUD DATABASE (postgresql) #####

- name: install packages for postgresql support
  apt:
    state: present
    package:
      - php-pgsql
      - python3-psycopg2
      - acl # required to use 'become' unprivilegied user

- name: create nextcloud postgresql user
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ nextcloud_db_user }}"
    state: present

- name: set nexctloud postgresql user password
  become: yes
  become_user: postgres
  postgresql_user:
    name: "{{ nextcloud_db_user }}"
    password: "{{ nextcloud_db_password }}"
  when: nextcloud_db_password is defined
  no_log: True

- name: create nextcloud postgresql database
  become: yes
  become_user: postgres
  postgresql_db:
    name: "{{ nextcloud_db_name }}"
    state: present
    encoding: 'UNICODE'
    owner: '{{ nextcloud_db_user }}'

- name: grant privileges on nextcloud database to nextcloud postgresql user
  become: yes
  become_user: postgres
  postgresql_privs:
    db: "{{ nextcloud_db_name }}"
    privs: ALL
    type: database
    role: "{{ nextcloud_db_user }}"
