- name: configure rsyslog to aggregate nextcloud logs to syslog
  template:
    src: etc_rsyslog.d_nextcloud.conf.j2
    dest: /etc/rsyslog.d/nextcloud.conf
    owner: root
    group: root
    mode: 0644
  notify: restart rsyslog
  tags: rsyslog
