- name: include variable checks tasks
  import_tasks: checks.yml
  tags:
    - goaccess
    - monitoring
    - checks

- name: include self-signed certificates configuration tasks
  import_tasks: ssl-selfsigned.yml
  become: yes
  tags:
    - goaccess
    - monitoring
    - ssl
  when:
    - goaccess_https_mode == 'selfsigned'
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: include goaccess configuration tasks
  import_tasks: goaccess.yml
  become: yes
  tags:
    - goaccess
    - monitoring

- name: include apache configuration tasks
  import_tasks: apache.yml
  become: yes
  tags:
    - goaccess
    - monitoring
    - apache
  when:
    - ansible_local.apache.ansible_managed is defined
    - ansible_local.apache.ansible_managed | bool

- name: include ansible facts configuration tasks
  import_tasks: fact.yml
  become: yes
  tags:
    - goaccess

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags:
    - goaccess
    - monitoring

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: include forced goaccess HTML report geneartion tasks
  import_tasks: utils-goaccess-update.yml
  tags:
    - never
    - utils-goaccess-update
