- name: install requirements for SSL/TLS certificates generation
  apt:
    state: present
    package:
      - python3-openssl
      - ssl-cert

- name: generate openssl private key
  openssl_privatekey:
    path: "/etc/ssl/private/victoriametrics.key"
    owner: root
    group: prometheus
    mode: "0640"
  notify: restart victoriametrics
  ignore_errors: "{{ ansible_check_mode }}"

- name: generate openssl certificate signing request
  openssl_csr:
    path: "/etc/ssl/private/victoriametrics.csr"
    privatekey_path: "/etc/ssl/private/victoriametrics.key"
    common_name: "{{ inventory_hostname }}"
    key_usage: "digitalSignature,keyEncipherment"
    basicConstraints: "CA:TRUE"
  ignore_errors: "{{ ansible_check_mode }}"

- name: generate self-signed openssl certificate
  community.crypto.x509_certificate:
    path: "/etc/ssl/certs/victoriametrics.crt"
    privatekey_path: "/etc/ssl/private/victoriametrics.key"
    csr_path: "/etc/ssl/private/victoriametrics.csr"
    provider: selfsigned
  notify: restart victoriametrics
  ignore_errors: "{{ ansible_check_mode }}"
