[murmur]
# mumble-server login failures
# other options defined in /etc/fail2ban/jail.conf
enabled = true
logpath  = /var/log/mumble-server/mumble-server.log
           /var/lib/fail2ban/emptylog.log
port    = {{ mumble_port }}
