<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Mumble</short>
  <description>Mumble server</description>
  <port port="{{ mumble_port }}" protocol="tcp"/>
  <port port="{{ mumble_port }}" protocol="udp"/>
</service>
