    alarm: systemd_service_mumble_server
       on: systemdunits_service-units.service_unit_state
     calc: $mumble_server
    every: 10s
     crit: ($this = 5)
    units: state
     info: mumble server service status
       to: sysadmin

