##### TT-RSS #####

### PACKAGES ###

- name: install required packages for tt-rss
  apt:
    state: present
    update_cache: yes
    cache_valid_time: 900
    package:
      - php7.3-common
      - php7.3-xml
      - php7.3-json
      - php7.3-intl
      - php7.3-mbstring
      - php7.3-curl
      - php7.3-gd
      - php7.3-opcache
      - php-zip # required for data_migration plugin

##### FAIL2BAN #####

- name: copy tt-rss fail2ban jail config
  template:
    src: etc_fail2ban_jail.d_tt-rss.conf.j2
    dest: /etc/fail2ban/jail.d/tt-rss.conf
    mode: 0600
  tags: fail2ban
  notify: reload fail2ban

- name: copy fail2ban tt-rss-auth filter
  template:
    src: etc_fail2ban_filter.d_tt-rss-auth.conf.j2
    dest: /etc/fail2ban/filter.d/tt-rss-auth.conf
    mode: 0600
  tags: fail2ban
  notify: reload fail2ban

##### BACKUPS #####

# there are no files to backup
# database dumps are managed by the postgresql/mariadb role

##### TT-RSS INSTALLATION #####

- name: clone/upgrade tt-rss
  git:
    repo: https://git.tt-rss.org/git/tt-rss.git
    dest: "{{ tt_rss_install_dir }}"
    version: '{{ tt_rss_version }}'
    accept_hostkey: yes
    force: yes
    umask: '022'
  no_log: true # very verbose in diff mode
  environment:
    GIT_HTTP_USER_AGENT: "Mozilla/5.0 (Windows NT 6.1; rv:45.0) Gecko/20100101 Firefox/45.0"
# (spoof git user agent to workaround buggy rate limiting on tt-rss.org)
# https://discourse.tt-rss.org/t/gitlab-config-problems-trailing-slash-in-clone-urls/192
# https://discourse.tt-rss.org/t/rate-limiting-for-some-git-related-requests/32

- name: give required read permissions to the web server
  file:
    path: "{{ tt_rss_install_dir }}"
    owner: root
    group: www-data
    recurse: yes
    mode: g+rX,o=

- name: give required write permissions to the web server
  file:
    path: "{{ tt_rss_install_dir }}/{{ item }}"
    state: directory
    owner: root
    group: www-data
    mode: g+rwX
    recurse: yes
  with_items:
    - cache
    - feed-icons
    - lock

- name: copy tt-rss configuration file
  template:
    src: var_www_tt-rss_config.php.j2
    dest: "{{ tt_rss_install_dir }}/config.php"
    owner: root
    group: www-data
    mode: 0640

### INITIAL DB POPULATION ###

# workaround for postgresql_query module bug https://github.com/ansible-collections/community.postgresql/issues/50
- name: remove comments from SQL schema file
  lineinfile:
    path: "{{ tt_rss_install_dir }}/sql/pgsql/schema.sql"
    state: absent
    regexp: '^--.*'
  when: (ansible_local.tt_rss.general.db_imported is not defined) or (not ansible_local.tt_rss.general.db_imported)

- name: import tt-rss database schema to postgresql
  postgresql_query:
    login_host: "localhost"
    login_user: "{{ tt_rss_db_user }}"
    login_password: "{{ tt_rss_db_password }}"
    db: "{{ tt_rss_db_name }}"
    path_to_script: "{{ tt_rss_install_dir }}/sql/pgsql/schema.sql"
  when: (ansible_local.tt_rss.general.db_imported is not defined) or (not ansible_local.tt_rss.general.db_imported)

- name: update tt-rss admin account in postgresql database (always returns changed)
  become_user: postgres
  postgresql_query:
    db: "{{ tt_rss_db_name }}"
    query: UPDATE ttrss_users SET login = '{{ tt_rss_user }}', pwd_hash = 'MODE2:{{ (tt_rss_password_salt + tt_rss_password) | hash('sha256') }}', salt     = '{{ tt_rss_password_salt }}' WHERE id = 1; # noqa 204

- name: load/upgrade tt-rss database schema
  become: yes
  become_user: www-data
  command: /usr/bin/php {{ tt_rss_install_dir }}/update.php --update-schema=force-yes
  register: tt_rss_db_upgrade
  changed_when: "'Database schema is already at latest version.' not in tt_rss_db_upgrade.stdout"

- name: create tt-rss installed fact file
  template:
    src: etc_ansible_facts.d_tt_rss.fact.j2
    dest: /etc/ansible/facts.d/tt_rss.fact
    mode: 0644


### SCHEDULING ###

- name: setup tt-rss feed update cron job
  cron:
    user: www-data
    cron_file: '/etc/cron.d/tt-rss'
    name: ttrss_update
    hour: '*'
    minute: '0'
    job: '/usr/bin/php {{ tt_rss_install_dir }}/update.php --feeds --quiet'
