    alarm: systemd_service_gitea
       on: systemdunits_service-units.service_unit_state
     calc: $gitea
    every: 10s
     crit: ($this = 5)
    units: state
     info: gitea service status
       to: sysadmin

