[Unit]
Description=Gitea git service
After=syslog.target
After=network.target
After=postgresql.service
#After=mysql.service
#After=mariadb.service
#After=memcached.service
#After=redis.service
StartLimitIntervalSec=10s
StartLimitBurst=4

[Service]
User=gitea
Group=gitea
Type=simple
WorkingDirectory={{ gitea_user_home }}/
Environment=USER=gitea HOME={{ gitea_user_home }} GITEA_WORK_DIR={{ gitea_user_home }}
ExecStart=/usr/local/bin/gitea web --config /etc/gitea/app.ini
Restart=always
RestartSec=2s
# Hardening directives
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadOnlyPaths=/etc/gitea/app.ini
ReadWritePaths=/var/lib/gitea/
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
