- name: copy rsnapshot configuration for transmission backups
  template:
    src: etc_rsnapshot.d_transmission.conf.j2
    dest: /etc/rsnapshot.d/transmission.conf
    mode: 0600
  notify: check rsnapshot configuration
