---

- name: enable apache2 modules
  command: a2enmod {{ item }}
  with_items:
    - ssl
    - rewrite
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  notify: reload apache

- name: copy apache2 virtualhost configuration
  template:
    src: etc_apache2_sites-available_shaarli.conf.j2
    dest: /etc/apache2/sites-available/shaarli.conf
  notify: reload apache

- name: enable apache2 virtualhost
  command: a2ensite shaarli
  args:
    creates: "/etc/apache2/sites-enabled/shaarli.conf"
  notify: restart apache
