- name: copy rsnapshot configuration for shaarli backups
  template:
    src: etc_rsnapshot.d_shaarli.conf.j2
    dest: /etc/rsnapshot.d/shaarli.conf
    mode: 0600
  notify: check rsnapshot configuration
