- name: enable required apache modules
  command: a2enmod {{ item }}
  with_items:
    - headers
    - proxy
    - proxy_http
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"

- name: copy gitea apache virtualhost configuration
  template:
    src: etc_apache2_sites-available_gitea.conf.j2
    dest: /etc/apache2/sites-available/gitea.conf
    owner: root
    group: root
    mode: 0644
  notify: reload apache

- name: enable gitea apache virtualhost configuration
  command: a2ensite gitea
  args:
    creates: "/etc/apache2/sites-enabled/gitea.conf"
  notify: reload apache

- name: add a hosts file entry for the gitea server fqdn
  lineinfile:
    path: /etc/hosts
    line: '127.0.0.1	{{ gitea_fqdn }}' # noqa no-tabs
    state: present
