{
    "ansible_managed": true,
    "fqdn": "{{ graylog_fqdn }}",
    "mongodb_upgraded_44_50": true,
    "mongodb_upgraded_4x_6x": true,
    "graylog_server_upgraded_4_5": true,
    "mongodb_auth_configured": true
}
