<VirtualHost *:80>
    ServerName {{ graylog_fqdn }}
{% if graylog_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if graylog_https_mode == 'letsencrypt' %}
MDomain {{ graylog_fqdn }}
{% endif %}

<VirtualHost *:443>
    ServerName  {{ graylog_fqdn }}
    SSLEngine on
{% if graylog_https_mode == 'selfsigned' %}
    SSLCertificateFile /etc/ssl/certs/{{ graylog_fqdn }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ graylog_fqdn }}.key
{% endif %}
{% if not graylog_enable_service %}
    DocumentRoot /var/www/maintenance/
    ErrorDocument 503 /maintenance.html
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !=/maintenance.html
    RewriteRule ^.*$ - [R=503,L]
{% else %}
    ProxyRequests Off

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    <Location />
{% if graylog_allowed_hosts %}
        Require ip 127.0.0.1 {{ graylog_allowed_hosts | join(' ') }}
{% endif %}
        RequestHeader set X-Graylog-Server-URL "https://{{ graylog_fqdn }}/"
        ProxyPass http://127.0.0.1:9109/
        ProxyPassReverse http://127.0.0.1:9109/
    </Location>
{% endif %}
</VirtualHost>
