deb [signed-by=/usr/share/keyrings/mongodb.gpg] https://repo.mongodb.org/apt/{{ graylog_mongodb_apt_repo_distribution }} {{ graylog_mongodb_apt_repo_distribution_codename }}/mongodb-org/6.0 {{ graylog_mongodb_apt_repo_distribution_component }}
