# This enables systemd cgroups accounting
# Provides a 'systemd services' chart in Netdata
[Manager]
DefaultCPUAccounting=yes
DefaultBlockIOAccounting=yes
DefaultMemoryAccounting=yes
DefaultTasksAccounting=yes
