{% for job in netdata_process_checks %}
{% if job.min_count > 0 %}
 alarm: {{ job.name }}_processes
    on: apps.processes
  calc: ${{ job.name }}
 every: {{ job.interval }}s
  crit: ($this < {{ job.min_count }}) OR ($this = nan)
 units: processes
  info: {{ job.name }} running processes
    to: sysadmin
 class: Errors
{% endif %}
{% endfor %}

