 alarm: logcount_error
    on: logcount.messages
  calc: $error
 every: 10s
  warn: $this > {{ netdata_logcount_error_threshold_warn }}
  crit: $this >  {{ netdata_logcount_error_threshold_crit }}
 units: error messages
  info: error messages in logs over last {{ netdata_logcount_update_interval }} minutes
    to: {{ netdata_logcount_notification_to }}
 class: Errors

 alarm: logcount_warning
    on: logcount.messages
  calc: $warning
 every: 10s
  warn: $this >  {{ netdata_logcount_warning_threshold_warn }}
 units: warning messages
  info: warning messages in logs over last {{ netdata_logcount_update_interval }} minutes
    to: {{ netdata_logcount_notification_to }}
 class: Errors
