[stream]
   enabled = {{ 'yes' if netdata_streaming_send_enabled else 'no' }}
{% if netdata_streaming_send_enabled %}
   destination = {{ netdata_streaming_destination }}
   api key = {{ netdata_streaming_api_key }}
   ssl skip certificate verification = yes
{% endif %}

{% if netdata_streaming_receive_enabled %}
[{{ netdata_streaming_api_key }}]
   enabled = yes
   health enabled by default = {{ 'yes' if netdata_streaming_receive_alarms else 'no' }}
{% endif %}
