# Restart mode: (l)ist only, (i)nteractive or (a)utomatically.
#
# ATTENTION: If needrestart is configured to run in interactive mode but is run
# non-interactive (i.e. unattended-upgrades) it will fallback to list only mode.
#
{% if needrestart_autorestart_services %}
$nrconf{restart} = 'a';
{% else %}
$nrconf{restart} = 'l';
{% endif %}
