# Only allow installation of netdata related packages from packagecloud repository
# Prevent installation for packages not named netdata*
Package: *
Origin: packagecloud
Pin-Priority: -1

Package: netdata*
Origin: packagecloud
Pin-Priority: 500
