# Defaults for smartmontools initscript (/etc/init.d/smartmontools)
# This is a POSIX shell fragment

# List of devices you want to explicitly enable S.M.A.R.T. for
# Not needed (and not recommended) if the device is monitored by smartd
#enable_smart="/dev/hda /dev/hdb"

# uncomment to pass additional options to smartd on startup
# dump smartd attrs info every 600 seconds
smartd_opts="--attributelog=/var/log/smartd/ --interval=600"
