# netdata configuration
# You can download the running configuration of your netdata instance, using:
# curl http://localhost:19999/netdata.conf

[global]
   update every = {{ netdata_update_every }}
{% if netdata_disable_debug_log %}   debug log = none
{% endif %}
{% if netdata_disable_error_log %}   error log = none
{% endif %}
{% if netdata_disable_access_log %}   access log = none
{% endif %}
   page cache size = {{ netdata_dbengine_page_cache_size }}
   dbengine multihost disk space = {{ netdata_dbengine_disk_space }}

{% if not netdata_enable_health_notifications %}
[health]
	script to execute on alarm = /bin/true
{% endif %}

[web]
   default port = 19999
   allow connections from = {{ netdata_allow_connections_from }} localhost
   allow netdata.conf from = {{ netdata_allow_connections_from }} localhost
   ssl key = /etc/ssl/netdata/netdata-key.pem
   ssl certificate = /etc/ssl/netdata/netdata-cert.pem
   web files owner = root
   web files group = netdata
   accept a streaming request every seconds = 0

[registry]
   enabled = yes
   registry to announce = https://{{ inventory_hostname }}:{{ netdata_public_port | default('19999') }}

[plugins]
{% for plugin in netdata_disabled_plugins %}
   {{ plugin }} = no
{% endfor %}

[plugin:proc:diskspace]
	exclude space metrics on paths = /proc/* /sys/* /var/run/user/* /run/user/* /snap/* /var/lib/docker/* /dev /dev/shm
