[tt-rss]
# tt-rss login failures
# LOG_DESTINATION must be set to '' (log to php/webserver error log) in tt-rss config.php
enabled = true
filter  = tt-rss-auth
logpath = /var/log/apache2/error.log
          /var/lib/fail2ban/emptylog.log
port    = https,http
