{
    "ansible_managed": true,
    "general": {
        "db_imported": true
    },
{% if ansible_facts.distribution_release == "trixie" %}
    "postgresql_collation_refresh_done": true,
{% endif %}
    "fqdn": "{{ tt_rss_fqdn }}"
}
