<?php
	/*
		This file can be used to customize global defaults if environment method is not available (i.e. no Docker).

		Use the following syntax to override defaults (options are declared in classes/config.php, prefixed by TTRSS_):

		putenv('TTRSS_TTRSS_DB_HOST=myserver');
		putenv('TTRSS_TTRSS_SELF_URL_PATH=http://example.com/tt-rss');

		Plugin-required constants also go here, using putenv():

		putenv('TTRSS_LEGACY_CONSTANT', 'value');

		etc.

		See this page for more information: https://tt-rss.org/wiki/GlobalConfig
	*/
	putenv('TTRSS_DB_TYPE=pgsql');
	putenv('TTRSS_DB_HOST=localhost');
	putenv('TTRSS_DB_USER={{ tt_rss_db_user }}');
	putenv('TTRSS_DB_NAME={{ tt_rss_db_name }}');
	putenv('TTRSS_DB_PASS={{ tt_rss_db_password }}');
	putenv('TTRSS_DB_PORT=5432');
	putenv('TTRSS_SELF_URL_PATH={{ tt_rss_full_url }}');
	putenv('TTRSS_SMTP_FROM_ADDRESS=noreply@{{ tt_rss_fqdn }}');
	putenv('TTRSS_PLUGINS=auth_internal, note');
	putenv('TTRSS_LOG_DESTINATION={{ tt_rss_log_destination }}');
