 alarm: systemd_service_slapd
    on: systemdunits_service_units.service_unit_state
  calc: $slapd
 every: 10s
  crit: ($this = 5)
 units: state
  info: openldap server service status
    to: sysadmin
