<?php
#==============================================================================
# LTB Self Service Password configuration
# This file overrides config.inc.php
#==============================================================================

# Debug mode
# true: log and display any errors or warnings (use this in configuration/testing)
# false: log only errors and do not display them (use this in production)
$debug = {{ 'true' if self_service_password_debug else 'false' }};

# LDAP
$ldap_url = "ldap://localhost";
$ldap_binddn = "cn=admin,{{ openldap_base_dn }}";
$ldap_bindpw = "{{ openldap_admin_password }}";
$ldap_base = "{{ openldap_base_dn }}";

# Who changes the password?
# Also applicable for question/answer save
# user: the user itself
# manager: the above binddn
{% if samba_passdb_backend is defined and samba_passdb_backend == 'ldapsam' %}
$who_change_password = "manager";
{% else %}
$who_change_password = "user";
{% endif %}

{% if samba_passdb_backend is defined and samba_passdb_backend == 'ldapsam' %}
# Samba mode
# true: update sambaNTpassword and sambaPwdLastSet attributes too
# false: just update the password
$samba_mode = true;
{% endif %}

# Hash mechanism for password:
# SSHA, SSHA256, SSHA384, SSHA512
# SHA, SHA256, SHA384, SHA512
# SMD5
# MD5
# CRYPT
# clear (the default)
# auto (will check the hash of current password)
# This option is not used with ad_mode = true
$hash = "SSHA";

# Local password policy - this is applied before directory password policy
# Minimal length
$pwd_min_length = 9;
# Complexity: number of different class of character required
$pwd_complexity = 3;
# Show policy constraints message: (always/never/onerror)
$pwd_show_policy = "onerror";

# Use questions/answers?
$use_questions = false;
# Crypt answers inside the directory
# disabled so that setting a keyphrase is not necessary
$crypt_answers = false;
# Use tokens?
$use_tokens = false;
# Crypt tokens?
# disabled so that setting a keyphrase is not necessary
$crypt_tokens = false;

# Get mail address directly from LDAP (only first mail entry) and hide mail input field
$mail_address_use_ldap = true;
# Who the email should come from
$mail_from = "noreply@{{ self_service_password_fqdn }}";
$mail_from_name = "{{ openldap_domain }} - Self Service Password";
# Notify users anytime their password is changed
$notify_on_change = true;

# Use sms
$use_sms = false;

# Logo
$logo = "images/logo.png";
# Background image
$background_image = "images/background.png";
