profname: default
ldap_suffix: ou=users,{{ openldap_base_dn }}
ldap_rdn: cn
inetOrgPerson_initials: 
inetOrgPerson_description: 
inetOrgPerson_street: 
inetOrgPerson_postOfficeBox: 
inetOrgPerson_postalCode: 
inetOrgPerson_l: 
inetOrgPerson_st: 
inetOrgPerson_postalAddress: 
inetOrgPerson_registeredAddress: 
inetOrgPerson_physicalDeliveryOfficeName: 
inetOrgPerson_roomNumber: 
inetOrgPerson_telephoneNumber: 
inetOrgPerson_facsimileTelephoneNumber: 
inetOrgPerson_mail: 
inetOrgPerson_labeledURI: 
inetOrgPerson_departmentNumber: 
inetOrgPerson_ou: 
inetOrgPerson_o: 
inetOrgPerson_title: 
inetOrgPerson_employeeType: 
inetOrgPerson_businessCategory: 
posixAccount_primaryGroup: users
posixAccount_homeDirectory: /home/$user
posixAccount_loginShell: /bin/bash
