profname: default
ldap_suffix: ou=groups,{{ openldap_base_dn }}
ldap_rdn: cn
{% if samba_passdb_backend is defined and samba_passdb_backend == 'ldapsam' %}
sambaGroupMapping_sambaDomainName: {{ openldap_domain }}
{% endif %}
