{% if nextcloud_https_mode in ['selfsigned', 'letsencrypt', 'none'] %}
<VirtualHost *:80>
    ServerName {{ nextcloud_fqdn }}
{% if nextcloud_https_mode == 'selfsigned' or nextcloud_https_mode == 'letsencrypt' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:443>
{% endif %}
{% if nextcloud_https_mode == 'selfsigned' %}
  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/{{ nextcloud_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ nextcloud_fqdn }}.key
{% elif nextcloud_https_mode == 'letsencrypt' %}
  MDomain {{ nextcloud_fqdn }}
  MDCertificateAgreement accepted
  MDCertificateStatus off
  MDContactEmail {{ letsencrypt_admin_email | default('admin@' + {{ nextcloud_fqdn }}) }}
  MDPrivateKeys RSA 4096
  MDRequireHttps permanent
{% endif %}
  DocumentRoot {{ nextcloud_install_dir }}
  ServerName  {{ nextcloud_fqdn }}

  <Directory {{ nextcloud_install_dir }}>
    # Unset system-wide Content-Security-Policy header since Nextcloud provides its own CSP
    Header always unset Content-Security-Policy
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>

</VirtualHost>
{% endif %}