[nextcloud]
user = www-data
group = www-data
listen = /run/php/php7.4-fpm-nextcloud.sock
listen.owner = www-data
listen.group = www-data
listen.allowed_clients = 127.0.0.1

;;; PROCESS MANAGEMENT ;;;
pm = dynamic
pm.max_children = {{ nextcloud_php_pm_max_children }}
pm.start_servers = {{ nextcloud_php_pm_start_servers }}
pm.min_spare_servers = {{ nextcloud_php_pm_min_spare_servers }}
pm.max_spare_servers = {{ nextcloud_php_pm_max_max_spare_servers }}
pm.process_idle_timeout = 20s
;pm.max_requests = 500

;;; MONITORING ;;;
;pm.status_path = /status
;ping.path = /ping
;ping.response = pong

;;; LOGGING/DEBUGGING ;;;
;access.log = log/$pool.access.log
;slowlog = log/$pool.log.slow
;request_slowlog_timeout = 0
;request_slowlog_trace_depth = 20
;catch_workers_output = no
;php_flag[display_errors] = off

;;; LIMITS
php_admin_value[max_execution_time] = {{ nextcloud_php_max_execution_time }}
php_admin_value[max_input_time] = {{ nextcloud_php_max_input_time }}
php_admin_value[memory_limit] = {{ nextcloud_php_memory_limit }}
php_admin_value[post_max_size] = {{ nextcloud_php_post_max_size }}
php_admin_value[upload_max_filesize] = {{ nextcloud_php_upload_max_filesize }}
;rlimit_files = 1024
;chroot =
;chdir = /

;; Nextcloud comes with its own nextcloud/.htaccess file
;; php-fpm can’t read PHP settings in .htaccess
php_admin_value[mbstring.func_overload] = 0
php_admin_value[default_charset] = 'UTF-8'
php_admin_value[output_buffering] = 0
