[Unit]
Description=Run Nextcloud background tasks
After=php8.4-fpm.service php8.2-fpm.service postgresql@15.service postgresql@17.service

[Service]
Type=simple
ExecStart=/usr/bin/php -f {{ nextcloud_install_dir }}/cron.php
WorkingDirectory={{ nextcloud_install_dir }}
SyslogIdentifier=nextcloud-cron
User=nextcloud

[Install]
WantedBy=multi-user.target
