# rsnapshot configuration for nextcloud backups
# backup nextcloud data directory
backup	{{ nextcloud_data_dir }}	localhost/
# exclude caches/trash directories
exclude	{{ nextcloud_data_dir }}/updater-*/
exclude	{{ nextcloud_data_dir }}/appdata_*/
exclude	{{ nextcloud_data_dir }}/*/cache/
exclude	{{ nextcloud_data_dir }}/*/thumbnails/
exclude	{{ nextcloud_data_dir }}/*/files_trashbin/
# nextcloud database backups are managed by the postgresql role
