<VirtualHost *:80>
    DocumentRoot {{ nextcloud_install_dir }}
    ServerName {{ nextcloud_fqdn }}
    ServerAdmin webmaster@{{ nextcloud_fqdn }}
{% if nextcloud_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if nextcloud_https_mode == 'letsencrypt' %}
MDomain {{ nextcloud_fqdn }}
{% endif %}

<VirtualHost *:443>
  ServerName  {{ nextcloud_fqdn }}
  ServerAdmin webmaster@{{ nextcloud_fqdn }}
  SSLEngine on
{% if nextcloud_allow_tls12 %}
  SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
{% endif %}
{% if nextcloud_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ nextcloud_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ nextcloud_fqdn }}.key
{% endif %}
{% if not nextcloud_enable_service %}
  DocumentRoot /var/www/maintenance/
  ErrorDocument 503 /maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteRule ^.*$ - [R=503,L]
{% else %}
  DocumentRoot {{ nextcloud_install_dir }}

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php{{ php_fpm_version }}-fpm-nextcloud.sock|fcgi://localhost"
  </FilesMatch>

  <Directory {{ nextcloud_install_dir }}>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
{% endif %}
</VirtualHost>
