<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Valheim server</short>
  <description>Valheim server</description>
  <port port="2456-2457" protocol="tcp"/>
  <port port="27015-27030" protocol="tcp"/>
  <port port="27036-27037" protocol="tcp"/>
  <port port="2456-2457" protocol="udp"/>
  <port port="4380" protocol="udp"/>
  <port port="27000-27031" protocol="udp"/>
  <port port="27036" protocol="udp"/>
</service>
