- name: check that mandatory variables are correctly defined
  assert:
    quiet: yes
    that: "{{ item }}"
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/jitsi"
  with_items:
    - jitsi_fqdn is not search('CHANGEME')
    - jitsi_turn_secret is not search('CHANGEME')
    - jitsi_firewalld_zones|type_debug == "list"
    - jitsi_users|type_debug == "list"
    - jitsi_https_mode in ['selfsigned', 'letsencrypt']
    - jitsi_enable_service == jitsi_enable_service | bool
    - jitsi_secure_domain == jitsi_secure_domain | bool
    - jitsi_enable_recent_list == jitsi_enable_recent_list | bool

- name: check that variables are correctly defined (jitsi_users)
  assert:
    quiet: yes
    that:
      - item.name is not search('CHANGEME')
      - item.password is not search('CHANGEME')
      - (item.state is not defined) or (item.state in ['present', 'absent'])
    fail_msg: "One or more jitsi users are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/jitsi"
  when: jitsi_secure_domain | bool
  no_log: yes
  with_items: "{{ jitsi_users }}"
