- name: copy jitsi firewalld service definition
  template:
    src: etc_firewalld_services_jitsi.xml.j2
    dest: /etc/firewalld/services/jitsi.xml
    owner: root
    group: adm
    mode: 0640
  notify: reload firewalld
  ignore_errors: "{{ ansible_check_mode }}"

# reload firewalld service definitions
- name: apply configuration (flush handlers)
  meta: flush_handlers

- name: setup firewalld rules for jitsi
  ansible.posix.firewalld:
    zone: "{{ item.zone }}"
    service: jitsi
    state: "{{ item.state }}"
    permanent: yes
    immediate: yes
  with_items: "{{ jitsi_firewalld_zones }}"
