- name: create jitsi user accounts
  command:
    cmd: "prosodyctl register {{ item.name }} {{ jitsi_fqdn }} {{ item.password }}"
    # creates: "/var/lib/prosody/{{ jitsi_fqdn | replace('.', '%2e') }}/accounts/{{ item.name }}" # this prevents passwords from being updated
  changed_when: no # never return changed, instead of always
  when: (item.state is not defined) or (item.state == 'present')
  no_log: yes
  with_items: "{{ jitsi_users }}"

- name: delete jitsi user accounts
  command:
    cmd: "prosodyctl unregister {{ item.name }} {{ jitsi_fqdn }}"
    removes: "/var/lib/prosody/{{ jitsi_fqdn | replace('.', '%2e') }}/accounts/{{ item.name }}"
  when:
    - item.state is defined
    - item.state == 'absent'
  with_items: "{{ jitsi_users }}"

- name: set prosody account password for the jicofo user
  command:
    cmd: "prosodyctl register focus auth.{{ jitsi_fqdn }} {{ jitsi_prosody_password }}"
  changed_when: no # never return changed, instead of always
