- name: add jitsi APT repository
  template:
    src: etc_apt_sources.list.d_{{ item }}.list.j2
    dest: /etc/apt/sources.list.d/{{ item }}.list
    owner: root
    group: root
    mode: 0644
  notify: update apt cache
  with_items:
    - prosody
    - jitsi

- name: migration/1.10.0 - remove old jitsi/prosody APT signing keys
  file:
    path: /etc/apt/trusted.gpg.d/{{ item }}.gpg
    state: absent
  with_items:
    - prosody
    - jitsi

- name: add jitsi APT signing keys
  copy:
    src: usr_share_keyrings_{{ item }}.gpg
    dest: /usr/share/keyrings/{{ item }}.gpg
    owner: root
    group: root
    mode: 0644
  notify: update apt cache
  with_items:
    - prosody
    - jitsi

- name: copy APT pinning preferences
  template:
    src: etc_apt_preferences.d_jitsi.j2
    dest: /etc/apt/preferences.d/jitsi
    owner: root
    group: root
    mode: 0644

# update APT cache for jitsi/prosody packages to become available
- name: run all notified handlers now
  meta: flush_handlers

# since we don't install the jitsi-meet metapackage these options must be set manually before instalaltion
- name: set debconf values for jitsi meet
  debconf: "{{ item }}"
  loop:
    - name: jitsi-videobridge
      question: jitsi-videobridge/jvb-hostname
      value: "{{ jitsi_fqdn }}"
      vtype: string
    - name: jitsi-meet
      question: jitsi-meet/jvb-serve
      value: false
      vtype: boolean
    - name: jitsi-meet-prosody
      question: jitsi-videobridge/jvb-hostname
      value: "{{ jitsi_fqdn }}"
      vtype: string
    - name: jitsi-meet-prosody
      question: jitsi-meet-prosody/turn-secret
      value: "{{ jitsi_turn_secret }}"
      vtype: string
    - name: jitsi-meet-prosody
      question: jitsi-meet/cert-choice
      value: "Generate a new self-signed certificate"
      vtype: string


# we don't install the jitsi-meet metapackage because it pulls jitsi-meet-web-config and breaks apache configuration
- name: install jitsi meet
  package:
    state: present
    name:
      - lua5.2
      - lua-unbound
      - prosody
      - prosody-modules
      - jicofo
      - jitsi-meet-web
      - jitsi-meet-prosody
      - jitsi-videobridge2
  ignore_errors: "{{ ansible_check_mode }}"

# since we don't install the jitsi-meet metapackage, configuration must be copied manually, see DEBIAN/postinst in jitsi-meet package
- name: create jitsi meet configuration directory
  file:
    state: directory
    path: /etc/jitsi/meet
    owner: root
    group: root
    mode: 0755

- name: configure jitsi meet
  template:
    src: etc_jitsi_meet_jitsi_fqdn-config.js.j2
    dest: /etc/jitsi/meet/{{ jitsi_fqdn }}-config.js
    owner: root
    group: www-data
    mode: 0640
  ignore_errors: "{{ ansible_check_mode }}"

- name: configure jicofo
  template:
    src: etc_jitsi_jicofo_jicofo.conf.j2
    dest: /etc/jitsi/jicofo/jicofo.conf
    owner: jicofo
    group: jitsi
    mode: 0644
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart jitsi

- name: configure prosody
  template:
    src: etc_prosody_conf.avail_jitsi_fqdn.cfg.lua.j2
    dest: /etc/prosody/conf.avail/{{ jitsi_fqdn }}.cfg.lua
    owner: root
    group: root
    mode: 0644
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart prosody

# workaround https://github.com/jitsi/jitsi-meet/issues/10929
- name: enable/disable recent rooms list on the welcome page
  lineinfile:
    path: /usr/share/jitsi-meet/interface_config.js
    regexp: '^    RECENT_LIST_ENABLED.*'
    line: "    RECENT_LIST_ENABLED: {{ 'true' if jitsi_enable_recent_list else 'false' }},"
  ignore_errors: "{{ ansible_check_mode }}"

- name: enable/disable start/stop jitsi service
  systemd:
    name: "{{ item }}"
    enabled: "{{ jitsi_enable_service }}"
    state: "{{ 'started' if jitsi_enable_service else 'stopped' }}"
  ignore_errors: "{{ ansible_check_mode }}"
  with_items:
    - prosody
    - jicofo
    - jitsi-videobridge2
