- name: add jitsi APT repository
  template:
    src: etc_apt_sources.list.d_{{ item }}.list.j2
    dest: /etc/apt/sources.list.d/{{ item }}.list
    owner: root
    group: root
    mode: "0644"
  notify: update apt cache
  with_items:
    - prosody
    - jitsi

- name: migration/1.10.0 - remove old jitsi/prosody APT signing keys
  file:
    path: /etc/apt/trusted.gpg.d/{{ item }}.gpg
    state: absent
  with_items:
    - prosody
    - jitsi

- name: add jitsi APT signing keys
  copy:
    src: usr_share_keyrings_{{ item }}.gpg
    dest: /usr/share/keyrings/{{ item }}.gpg
    owner: root
    group: root
    mode: "0644"
  notify: update apt cache
  with_items:
    - prosody
    - jitsi

- name: copy APT pinning preferences
  template:
    src: etc_apt_preferences.d_jitsi.j2
    dest: /etc/apt/preferences.d/jitsi
    owner: root
    group: root
    mode: "0644"

# update APT cache for jitsi/prosody packages to become available
- name: run all notified handlers now
  meta: flush_handlers

# since we don't install the jitsi-meet metapackage these options must be set manually before installation
# always returns changed, ansible bug https://github.com/ansible/ansible/issues/47676
- name: set debconf values for jitsi meet (always returns changed)
  debconf: "{{ item }}" # noqa args[module] # false positive
  no_log: yes
  loop:
    - name: jitsi-videobridge
      question: jitsi-videobridge/jvb-hostname
      value: "{{ jitsi_fqdn }}"
      vtype: string
    - name: jitsi-videobridge
      question: jitsi-videobridge/jvbsecret
      value: "{{ jitsi_jvb_prosody_password }}"
      vtype: string
    - name: jitsi-meet
      question: jitsi-meet/jvb-serve
      value: false
      vtype: boolean
    - name: jitsi-meet-prosody
      question: jitsi-videobridge/jvb-hostname
      value: "{{ jitsi_fqdn }}"
      vtype: string
    - name: jitsi-meet-prosody
      question: jitsi-videobridge/jvbsecret
      value: "{{ jitsi_jvb_prosody_password }}"
      vtype: string
    - name: jitsi-meet-prosody
      question: jitsi-meet-prosody/turn-secret
      value: "{{ jitsi_turn_secret }}"
      vtype: string
    - name: jitsi-meet-prosody
      question: jitsi-meet/cert-choice
      value: "Generate a new self-signed certificate"
      vtype: string
    - name: jitsi-meet-prosody
      question: jicofo/jicofo-authpassword
      value: "{{ jitsi_prosody_password }}"
      vtype: password
    - name: jicofo
      question: jicofo-authpassword
      value: "{{ jitsi_prosody_password }}"
      vtype: password


# we don't install the jitsi-meet metapackage because it pulls jitsi-meet-web-config and breaks apache configuration
- name: install jitsi meet
  package:
    state: present
    name:
      - lua5.2
      - lua-unbound
      - prosody
      - prosody-modules
      - jicofo
      - jitsi-meet-web
      - jitsi-meet-prosody
      - jitsi-videobridge2
  ignore_errors: "{{ ansible_check_mode }}"

# since we don't install the jitsi-meet metapackage, configuration must be copied manually, see DEBIAN/postinst in jitsi-meet package
- name: create jitsi meet configuration directory
  file:
    state: directory
    path: /etc/jitsi/meet
    owner: root
    group: root
    mode: "0755"

- name: configure jitsi meet
  template:
    src: etc_jitsi_meet_jitsi_fqdn-config.js.j2
    dest: /etc/jitsi/meet/{{ jitsi_fqdn }}-config.js
    owner: root
    group: www-data
    mode: "0640"
  ignore_errors: "{{ ansible_check_mode }}"

- name: configure jicofo
  template:
    src: etc_jitsi_jicofo_jicofo.conf.j2
    dest: /etc/jitsi/jicofo/jicofo.conf
    owner: jicofo
    group: jitsi
    mode: "0644"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart jitsi

- name: configure jitsi-videobridge
  template:
    src: etc_jitsi_videobridge_jvb.conf.j2
    dest: /etc/jitsi/videobridge/jvb.conf
    owner: jvb
    group: jitsi
    mode: "0644"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart jitsi

- name: configure jitsi-videobridge prosody password
  lineinfile:
    path: /etc/jitsi/videobridge/sip-communicator.properties
    regexp: '^org.jitsi.videobridge.xmpp.user.shard.PASSWORD'
    line: 'org.jitsi.videobridge.xmpp.user.shard.PASSWORD={{ jitsi_jvb_prosody_password }}'
    owner: jvb
    group: jitsi
    mode: "0644"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart jitsi

- name: configure prosody
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "0644"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: restart prosody
  with_items:
    - src: etc_prosody_conf.avail_jitsi_fqdn.cfg.lua.j2
      dest: "/etc/prosody/conf.avail/{{ jitsi_fqdn }}.cfg.lua"
    - src: etc_prosody_conf.d_interfaces.cfg.lua.j2
      dest: "/etc/prosody/conf.d/interfaces.cfg.lua"

# workaround https://github.com/jitsi/jitsi-meet/issues/10929
- name: enable/disable recent rooms list on the welcome page
  lineinfile:
    path: /usr/share/jitsi-meet/interface_config.js
    regexp: '^    RECENT_LIST_ENABLED.*'
    line: "    RECENT_LIST_ENABLED: {{ 'true' if jitsi_enable_recent_list else 'false' }},"
  ignore_errors: "{{ ansible_check_mode }}"

- name: prevent debsums warnings about modified interface_config.js
  lineinfile:
    path: /etc/debsums-ignore
    line: "/usr/share/jitsi-meet/interface_config.js"
    state: present
    owner: root
    group: root
    mode: "0600"
    create: yes

- name: enable/disable start/stop jitsi service
  systemd:
    name: "{{ item }}"
    enabled: "{{ jitsi_enable_service }}"
    state: "{{ 'started' if jitsi_enable_service else 'stopped' }}"
  ignore_errors: "{{ ansible_check_mode }}"
  with_items:
    - prosody
    - jicofo
    - jitsi-videobridge2

- name: apply configuration (flush handlers)
  meta: flush_handlers
