- include: checks.yml
  tags:
    - monitoring
    - netdata
    - checks

- include: netdata.yml
  become: yes
  tags:
    - monitoring
    - netdata

- include: fact.yml
  become: yes
  tags:
    - monitoring
    - netdata

- include: netdata-module-needrestart.yml
  become: yes
  tags:
    - monitoring
    - netdata
  when: setup_needrestart|bool

- include: netdata-module-logcount.yml
  become: yes
  tags:
    - monitoring
    - netdata
  when: setup_netdata_logcount|bool

- include: netdata-module-debsecan.yml
  become: yes
  tags:
    - monitoring
    - netdata
  when: setup_netdata_debsecan|bool

- include: firewalld.yml
  become: yes
  tags:
    - monitoring
    - netdata
    - firewall
  when:
    - ansible_local.firewalld.ansible_managed is defined
    - ansible_local.firewalld.ansible_managed|bool

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags:
    - monitoring
    - netdata
    - firewall

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- include: utils-netdata-test-notifications.yml
  tags:
    - never
    - utils-netdata-test-notifications
