##### HOMEPAGE #####

# Fully Qualified Domain Name for the homepage
homepage_fqdn: "www.CHANGEME.org"

# main title of the homepage
homepage_title: "{{ homepage_fqdn }}"
# freeform message/paragraph displayed on the homepage (HTML allowed)
homepage_message: "<i>Welcome to this server running <a href='https://xsrv.readthedocs.io'>xsrv</a></i>"

# HTTPS and SSL/TLS certificate mode for the homepage webserver virtualhost
#   letsencrypt: acquire a certificate from letsencrypt.org
#   selfsigned: generate a self-signed certificate (will generate warning in bowsers and clients)
homepage_https_mode: selfsigned

# list of additional aliases/domain names for the homepage, in addition to homepage_fqdn. example:
# homepage_vhost_aliases:
#   - www.CHANGEME.org
#   - CHANGEME.org
#   - 192.168.8.0
homepage_vhost_aliases: []
