<?xml version="1.0" encoding="utf-8"?>
<PluginConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Username>{{ jellyfin_opensubtitles_plugin_username }}</Username>
  <Password>{{ jellyfin_opensubtitles_plugin_password }}</Password>
  <ApiKey>{{ jellyfin_opensubtitles_plugin_apikey }}</ApiKey>
</PluginConfiguration>
