# Prefer apache2 packages from buster-backports
# Required to for ACMEv2 support for mod_md
# ACMEv1 protocol is discontinued by Let's Encrypt

Package: apache2*
Pin: release n=buster-backports
Pin-Priority: 600

Package: libapache2-mod*
Pin: release n=buster-backports
Pin-Priority: 600

