{% if apache_enable_mod_evasive %}
<IfModule mod_evasive20.c>
    # mod_evasive: attempt to avoid basic apache DoS/DDoS attempts
    # DOSHashTableSize directive defines the hash table size, i.e. the number of top-level nodes for each child's hash table.
    # Increasing this number will provide faster performance by decreasing the number of iterations required to get to the record,
    # but will consume more memory for table space. It is advisable to increase this parameter on heavy load web servers.
    DOSHashTableSize 3097

    # Log to this directory
    DOSLogDir "/var/log/apache2/mod_evasive/"

    # DOSPageCount directive sets the threshold for the number of requests for the same page (or URI) per page interval.
    # Once the threshold for that interval has been exceeded, the client IP address is added to the blocking list.
    DOSPageCount 10

    #DOSPageInterval directive sets the interval for the page count threshold.
    # The interval is specified in seconds and may be a real number.
    DOSPageInterval 1

    # DOSSiteCount directive sets the threshold for the total number of requests for any object by the same client on the same listener per site interval.
    # Once the threshold for that interval has been exceeded, the client IP address is added to the blocking list.
    DOSSiteCount 100

    # DOSSiteInterval directive sets the interval for the site count threshold.
    # The interval is specified in seconds and may be a real number. 
    DOSSiteInterval 1

    # DOSBlockingPeriod directive sets the amount of time that a client will be blocked for if they are added to the blocking list.
    # During this time, all subsequent requests from the client will result in 403 (Forbidden) response and the timer will be reset (e.g. for another 10 seconds).
    # Since the timer is reset for every subsequent request, it is not necessary to have a long blocking period; in the event of a DoS attack, this timer will keep getting reset.
    DOSBlockingPeriod 10

    # DOSCloseSocket directive instructs mod_evasive to send 403 code and close connection socket.
    # It means an attacker will have to create new connection and it's pretty good for you as it takes some time. 
    # Disabled as it is not compatible with mod-evasive 1.10.1-1
    #DOSCloseSocket On

    # DOSSystemCommand directive specifies the system command to be executed whenever an IP address becomes blacklisted.
    #DOSSystemCommand "/bin/echo %s >> /var/log/mod_evasive/dos_evasive.log && /bin/date >> /var/log/mod_evasive/dos_evasive.log"

    # DOSEmailNotify sets the email address to send a message when mod_evasive is triggered
    #DOSEmailNotify "admin@my.example.org"

    # DOSWhitelist prevent listed addresses from being blocked
    DOSWhiteList 127.0.0.1
    DOSWhiteList 192.168.*.*
    DOSWhitelist 10.*.*.*
</IfModule>
{% endif %}
