[Service]
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true

# unapplicable
#ProtectSystem=strict # causes segfault with strict or full
#PrivateUsers=true # causes segfault

