[apache-auth]
# apache basic auth login failures
# other options defined in /etc/fail2ban/jail.conf
enabled = true
logpath  = %(apache_error_log)s
           /var/lib/fail2ban/emptylog.log
port    = http,https
