# The default virtualhost will be served for requests that do not match any known servername,
# for example trying to access the server with just an IP address. It just displays/logs a 404 error.
<VirtualHost *:80>
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !=/server-status
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>

<VirtualHost _default_:443>
    ServerName localhost
    DocumentRoot /var/www/html
    SSLEngine On
    # Use the default self-signed certificate for localhost
    SSLCertificateFile /etc/ssl/certs/localhost.crt
    SSLCertificateKeyFile /etc/ssl/private/localhost.key
</VirtualHost>
