{% for item in apache_reverseproxies %}
{% if item.monitor_http is not defined or item.monitor_http %}
  - name: {{ item.servername }}
    timeout: 5
    tls_skip_verify: {{ 'true' if (item.https_mode is not defined or item.https_mode == 'selfsigned') else 'false' }}
    update_every: 10
    url: https://127.0.0.1
    headers:
      Host: "{{ item.servername }}"

{% endif %}
{% endfor %}
