<Directory /var/www/>
    # Disable directory listing/indexes
    # Allow following symlinks
    # Disable MultiViews (fallback to similar filenames if requested file does not exist)
    Options -Indexes +FollowSymLinks -MultiViews
    # Allow .htaccess files in each directory to override these options
    AllowOverride All
    Order allow,deny
    allow from all
</Directory>

# Changing the following options will not really affect the security of the
# server, but might make attacks slightly more difficult in some cases.

#
# ServerTokens
# This directive configures what you return as the Server HTTP response
# Header. The default is 'Full' which sends information about the OS-Type
# and compiled in modules.
# Set to one of:  Full | OS | Minimal | Minor | Major | Prod
# where Full conveys the most information, and Prod the least.
#ServerTokens Minimal
#ServerTokens OS
#ServerTokens Full
ServerTokens Prod

#
# Optionally add a line containing the server version and virtual host
# name to server-generated pages (internal error documents, FTP directory
# listings, mod_status and mod_info output etc., but not CGI generated
# documents or custom error documents).
# Set to "EMail" to also include a mailto: link to the ServerAdmin.
# Set to one of:  On | Off | EMail
ServerSignature Off
#ServerSignature On

#
# Allow TRACE method
#
# Set to "extended" to also reflect the request body (only for testing and
# diagnostic purposes).
#
# Set to one of:  On | Off | extended
TraceEnable Off
#TraceEnable On

#
# Forbid access to version control directories
#
# If you use version control systems in your document root, you should
# probably deny access to their directories.
#
# Examples:
#
#RedirectMatch 404 /\.git
#RedirectMatch 404 /\.svn
RedirectMatch 404 /\.git
RedirectMatch 404 /\.svn
RedirectMatch 404 /\.hg
RedirectMatch 404 /\.ssh

#
# Setting this header will prevent MSIE from interpreting files as something
# else than declared by the content type in the HTTP headers.
# Requires mod_headers to be enabled.
#
#Header set X-Content-Type-Options: "nosniff"

#
# Setting this header will prevent other sites from embedding pages from this
# site as frames. This defends against clickjacking attacks.
# Requires mod_headers to be enabled.
#
#Header set Content-Security-Policy "frame-ancestors 'self';"

# In addition, prevent browsers from running scripts injected form other domains
# Disabled as each application/virtualhost should set this header according to its particular needs
#
#Header always set Content-Security-Policy "script-src 'self'; frame-ancestors 'self'"

#
# Some browsers have a built-in XSS filter that will detect some cross site
# scripting attacks. By default, these browsers modify the suspicious part of
# the page and display the result. This behavior can create various problems
# including new security issues. This header will tell the XSS filter to
# completely block access to the page instead.
# Requires mod_headers to be enabled.
#
Header always set X-XSS-Protection "1; mode=block"

#
# Do not send HTTP referrers when following a link to a third-party domain
#
Header always set Referrer-Policy "same-origin"

# Prevent embedding this site from other domains (iframes)
#
Header always set X-Permitted-Cross-Domain-Policies "none"

# Mitigate the HTTPoxy (https://httpoxy.org/) vulnerability
#
RequestHeader unset Proxy early

# Restricts the total size of the HTTP request body sent from the client
#LimitRequestBody 512000

{% if not apache_allow_robots %}
# Ask search engines/bots that respect the X-Robots-Tag header not to crawl this webserver's sites
Header always set X-Robots-Tag "noindex,nofollow,noarchive,nosnippet"
{% endif %}
