    alarm: systemd_service_php7.4_fpm
       on: systemdunits_service-units.service_unit_state
     calc: $php7.4_fpm
    every: 10s
     crit: ($this = 5)
    units: state
     info: php7.4-fpm service status
       to: sysadmin

