# Raise a warning when backup success timestamp file is older than 24h30min
# Raise a critical alert when older than 25h
 alarm: modtime_rsnapshot_last_success
    on: modtime_rsnapshot_last_success.file_age
  calc: $file_age
 every: 10s
  warn: $this > 88200
  crit: $this > 90000
 units: seconds
  info: time since last modification
    to: sysadmin