##### HOSTNAME ####

- name: set hostname
  hostname: name={{ inventory_hostname }}

- name: update /etc/hosts with new hostname
  lineinfile:
    dest: '/etc/hosts'
    line: '{{ item }}	{{ inventory_hostname }}' # noqa no-tabs
    regexp: '^{{ item }}'
    owner: root
    group: root
    mode: 0644
  with_items:
    - '127.0.1.1'
