- name: include variable checks tasks
  import_tasks: checks.yml
  tags:
    - common
    - checks

- name: include hostname configuration tasks
  import_tasks: hostname.yml
  become: yes
  tags:
    - common
    - hostname
  when: setup_hostname | bool

- name: include hosts file configuration tasks
  import_tasks: hosts.yml
  become: yes
  tags:
    - common
    - hosts
  when: setup_hosts_file | bool

- name: include dns resolution configuration tasks
  import_tasks: dns.yml
  become: yes
  tags:
    - common
    - dns
  when: setup_dns | bool

- name: include kernel/sysctl configuration tasks
  import_tasks: sysctl.yml
  become: yes
  tags:
    - common
    - sysctl
  when: setup_sysctl | bool

- name: include APT package management configuration tasks
  import_tasks: apt.yml
  become: yes
  tags:
    - common
    - apt
  when: setup_apt | bool

- name: include date/time configuration tasks
  import_tasks: datetime.yml
  become: yes
  tags:
    - common
    - datetime
  when: setup_datetime | bool

- name: include SSH server configuration tasks
  import_tasks: ssh.yml
  become: yes
  tags:
    - common
    - ssh
  when: setup_ssh | bool

- name: include firewalld configuration tasks
  import_tasks: firewalld.yml
  become: yes
  tags:
    - common
    - firewall
  when: setup_firewall | bool

- name: include fail2ban configuration tasks
  import_tasks: fail2ban.yml
  become: yes
  tags:
    - common
    - fail2ban
  when: setup_fail2ban | bool

- name: include Linux users configuration tasks
  import_tasks: users.yml
  become: yes
  tags:
    - common
    - users
  when: setup_users | bool

- name: include cron configuration tasks
  import_tasks: cron.yml
  become: yes
  tags:
    - common
    - cron
  when: setup_cron | bool

- name: include system mail configuration tasks
  import_tasks: mail.yml
  become: yes
  tags:
    - common
    - mail
    - msmtp

# detect CPU TRNG support before installing related packages
- name: include ansible facts configuration tasks
  import_tasks: fact.yml
  become: yes
  tags:
    - common
    - firewall

- name: include base package installation/removal tasks
  import_tasks: packages.yml
  become: yes
  tags:
    - common
    - packages

- name: apply configuration (flush handlers)
  meta: flush_handlers
  tags: common

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: include debian 10->11 migration tasks
  import_tasks: utils-debian10to11.yml
  become: yes
  tags:
    - never
    - utils-debian10to11
