- name: remove unwanted packages
  apt:
    state: absent
    package:
      - snapd
      # - rpcbind # not an NFS server
      # - nfs-common # not an NFS server
      # - exim4-base # use a smarthost/msmtp

- name: install ansible modules requirements
  apt:
    state: present
    package:
      - aptitude # apt module
      - curl # http modules
      - git # git module
      - initramfs-tools
      - unzip # unarchive module
      - zip # unarchive module

- name: install additional packages
  apt:
    state: present
    package:
      - atool # single tool to manipulate all archives/compressed file formats
      - less # a pager like 'more'
      - tree # show filesystems as a tree
      - rsync # fast/powerful file transfer utility
      - locate # maintain and query an index of a directory tree
      - man # view manual pages
      - at # task scheduler - required for ansible at module/one-shot job scheduling
      #- autojump # jump to frequently used directories
      #- secure-delete # securely erase data
      #- pwgen # generate memorable random passwords
  when: setup_cli_utils|bool

- name: install haveged entropy source
  apt:
    state: present
    package: haveged
  when: setup_haveged
