- name: check that mandatory variables are correctly defined
  assert:
    quiet: yes
    that:
      - dovecot_fqdn is not search("CHANGEME")
      - dovecot_ldap_uri is not search("CHANGEME")
      - dovecot_ldap_bind_dn is not search("CHANGEME")
      - dovecot_ldap_bind_password is not search("CHANGEME")
      - dovecot_ldap_base is not search("CHANGEME")
      - dovecot_ldap_user_filter is string
      - dovecot_auth_debug == dovecot_auth_debug | bool
      - dovecot_ldap_pass_attrs is string
      - dovecot_firewalld_zones|type_debug == "list"
      - dovecot_listen_imap == dovecot_listen_imap | bool
      - dovecot_ssl_required == dovecot_ssl_required | bool
      - dovecot_disable_plaintext_auth == dovecot_disable_plaintext_auth | bool
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/mail_dovecot"
