- name: install requirements for SSL/TLS certificates generation
  apt:
    state: present
    package:
      - python3-openssl
      - ssl-cert

- name: generate openssl private key
  openssl_privatekey:
    path: "/etc/ssl/private/dovecot.key"
    owner: root
    group: root
    mode: 0600
  notify: restart dovecot
  ignore_errors: "{{ ansible_check_mode }}"

- name: generate openssl certificate signing request
  openssl_csr:
    path: "/etc/ssl/private/dovecot.csr"
    privatekey_path: "/etc/ssl/private/dovecot.key"
    common_name: "{{ dovecot_fqdn }}"
    key_usage: "digitalSignature,keyEncipherment"
    owner: root
    group: root
    mode: 0600
  ignore_errors: "{{ ansible_check_mode }}"

- name: generate self-signed openssl certificate
  openssl_certificate:
    path: "/etc/ssl/certs/dovecot.crt"
    privatekey_path: "/etc/ssl/private/dovecot.key"
    csr_path: "/etc/ssl/private/dovecot.csr"
    provider: selfsigned
    owner: root
    group: root
    mode: 0644
  notify: restart dovecot
  ignore_errors: "{{ ansible_check_mode }}"
