### NETDATA MONITORING SYSTEM ###
# default interval between netdata updates (in seconds)
# each plugin/module can override this setting (but only to set a longer interval)
netdata_update_every: 2
# (MiB) amount of memory dedicated to caching metric values
netdata_dbengine_page_cache_size: 32
# (MiB) amount of disk space dedicated to storing Netdata metric values/metadata
netdata_dbengine_disk_space: 800
# space-separated list of IP addresses authorized to access netdata
netdata_allow_connections_from: '10.* 192.168.* 172.16.* 172.17.* 172.18.* 172.19.* 172.20.* 172.21.* 172.22.* 172.23.* 172.24.* 172.25.* 172.26.* 172.27.* 172.28.* 172.29.* 172.30.* 172.31.*'
# enable netdata cloud/SaaS features (yes/no)
netdata_cloud_enabled: no
# enable netdata self-monitoring charts/alarms (yes/no)
netdata_self_monitoring_enabled: no
# enable/disable netdata debug/error/access logs (yes/no)
netdata_disable_debug_log: yes
netdata_disable_error_log: no
netdata_disable_access_log: yes
# netdata plugins to disable
netdata_disabled_plugins:
  - ebpf
# Netdata notification downtimes (list), no notifications will be sent during these intervals
# start/end: cron expression for downtime start/end time. Example:
# netdata_notification_downtimes:
#   - start: "01 19 * * *"
#     end: "00 07 * * *"
netdata_notification_downtimes: []
# firewall zones for the netdata Web service, if nodiscc.xsrv.common/firewalld role is deployed
# 'zone:' is one of firewalld zones, set 'state:' to 'disabled' to remove the rule (the default is state: enabled)
netdata_firewalld_zones:
  - zone: internal
    state: enabled

## NETDATA CHECKS ##
# Process checks
#   name: process group name to check (apps_groups.conf)
#   min_count: minimum expected number of processes
#   interval: time interval (seconds) between checks
# Example:
# netdata_process_checks:
#   - { name: ssh, min_count: 1, interval: 20} # SSH server
#   - { name: time, min_count: 1, interval: 20} # NTP daemon
#   - { name: fail2ban, min_count: 1, interval: 20} # bruteforce prevention/IPS
#   - { name: httpd, min_count: 1, interval: 20} # web server
#   - { name: sql, min_count: 1, interval: 20} # SQL database engine
#   - { name: gitea, min_count: 1, interval: 20} # gitea self-hosted software forge
#   - { name: gitlab_runner, min_count: 1, interval: 20} # gitlab CI job runner
#   - { name: ezstream, min_count: 1, interval: 20} # icecast/ezstream media streaming server
#   - { name: murmurd, min_count: 1, interval: 20} # mumble VoIP server
#   - { name: pulseaudio, min_count: 1, interval: 20} # pulseaudio network sound server
#   - { name: auth, min_count: 1, interval: 20} # openldap server
#   - { name: media, min_count: 1, interval: 20} # jellyfin media server
#   - { name: samba, min_count: 2, interval: 20} # samba file sharing server (smbd+nmbd)
netdata_process_checks: []
# HTTP checks
# uses the same syntax and parameters as netdata httpcheck module
# https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/httpcheck/
# https://github.com/netdata/go.d.plugin/blob/master/config/go.d/httpcheck.conf
# Example:
# netdata_http_checks:
#   - name: example.com
#     url: https://website.com:444
#     status_accepted:
#       - 200
#       - 401
#     tls_skip_verify: yes
#     timeout: 10
#     update_every: 20
netdata_http_checks: []
# X509/SSL/TLS certificate checks (time to expiration, revocation status)
# uses the same syntax and parameters as netdata x509check module
# Port is mandatory for all non-file schemes
# https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/x509check/
# https://github.com/netdata/go.d.plugin/blob/master/config/go.d/x509heck.conf
# Example:
# netdata_x509_checks:
#   - name example-org
#     source: https://example.org:443
#     days_until_expiration_critical: 15
#     timeout: 3
#     tls_skip_verify: yes
#     update_every: 20
netdata_x509_checks: []
# Netdata TCP port checks
#   name: readable name of the check
#   host: hostname or IP address to contact
#   ports: list of TCP port numbers to check
#   interval: time interval (seconds) between checks
# Example:
# netdata_port_checks:
#   - name: ldap-available
#     host: 192.168.10.10
#     ports: [389, 636]
#     interval: 10
netdata_port_checks: []

## NETDATA MODULES ##
# setup needrestart and netdata-needrestart module (yes/no)
setup_needrestart: yes
# automatically restart services that require it after an upgrade (yes/no)
needrestart_autorestart_services: yes
# setup netdata-logcount module (yes/no)
setup_netdata_logcount: yes
# (minutes) interval between updates of log message counts in the logcount module
netdata_logcount_update_interval: 1
# maximum acceptable ERROR message in logs over the last period before raising a WARNING or CRITICAL alert
netdata_logcount_error_threshold_warn: 10
netdata_logcount_error_threshold_crit: 100
# maximum acceptable WARNING message in logs over the last period before raising a WARNING alert
netdata_logcount_warning_threshold_warn: 10
# user to send logcount notifications to (eg. sysadmin, silent...)
netdata_logcount_notification_to: "silent"
# setup netdata-debsecan module (yes/no)
setup_netdata_debsecan: yes
# monitor systemd units states
netdata_monitor_systemd_units: yes
