- name: enable required apache modules
  command: a2enmod {{ item }}
  with_items:
    - headers
    - proxy
    - proxy_http
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"

- name: copy graylog apache virtualhost configuration
  template:
    src: etc_apache2_sites-available_graylog.conf.j2
    dest: /etc/apache2/sites-available/graylog.conf
    owner: root
    group: root
    mode: 0644
  notify: reload apache

- name: enable graylog apache virtualhost configuration
  command: a2ensite graylog
  args:
    creates: "/etc/apache2/sites-enabled/graylog.conf"
  notify: reload apache
