### MONGODB ###

- name: add mongodb repository gpg key
  apt_key:
    url: "https://www.mongodb.org/static/pgp/server-4.2.asc"
    state: present

- name: set distribution for mongodb APT repository
  set_fact:
    mongodb_apt_repo_distribution: "{{ item.apt_repository }}"
  when: ansible_facts.distribution_release == "{{ item.distribution_release }}"
  with_items:
    - apt_repository: stretch
      distribution_release: stretch
    - apt_repository: buster
      distribution_release: buster
    - apt_repository: buster
      distribution_release: bullseye

- name: add mongodb APT repository
  apt_repository:
    repo: "deb http://repo.mongodb.org/apt/debian {{ mongodb_apt_repo_distribution }}/mongodb-org/4.2 main"
    state: present
    filename: mongodb
    update_cache: yes

- name: install mongodb-org package
  apt:
    package: mongodb-org
    state: present
  ignore_errors: "{{ ansible_check_mode }}"

### SERVICE ###

- name: enable/disable start/stop mongodb service
  systemd:
    name: mongod
    enabled: "{{ graylog_enable_service }}"
    state: "{{ 'started' if graylog_enable_service else 'stopped' }}"
    daemon_reload: yes
  ignore_errors: "{{ ansible_check_mode }}"
