- name: check that mandatory variables are correctly defined
  assert:
    quiet: yes
    that: "{{ item }}"
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  loop:
    - (dnsmasq_upstream_servers|type_debug == "list") and (dnsmasq_upstream_servers|length > 0)
    - dnsmasq_records|type_debug == "list"
    - dnsmasq_firewalld_zones|type_debug == "list"
    - dnsmasq_enable_service == dnsmasq_enable_service | bool
    - dnsmasq_listen_interfaces|type_debug == "list"
    - dnsmasq_listen_addresses|type_debug == "list"
    - dnsmasq_dnssec == dnsmasq_dnssec | bool
    - dnsmasq_log_queries == dnsmasq_log_queries | bool
    - dnsmasq_blocklist_url is string
    - dnsmasq_blocklist_mode in ['disabled', 'hosts', 'dnsmasq']
    - dnsmasq_blocklist_whitelist | type_debug == "list"

- name: check that mandatory variables are correctly defined (dnsmasq_upstream_servers)
  assert:
    quiet: yes
    that: item is ansible.utils.ipv4_address
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  loop: "{{ dnsmasq_upstream_servers }}"

- name: check that mandatory variables are correctly defined (dnsmasq_records)
  assert:
    quiet: yes
    that:
      - item.name is string
      - item.ip is ansible.utils.ipv4_address
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  loop: "{{ dnsmasq_records }}"
