- name: check that mandatory variables are correctly defined
  assert:
    quiet: yes
    that: "{{ item }}"
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  with_items:
    - (dnsmasq_upstream_servers|type_debug == "list") and (dnsmasq_upstream_servers|length > 0)
    - dnsmasq_records|type_debug == "list"
    - dnsmasq_firewalld_zones|type_debug == "list"
    - dnsmasq_enable_service == dnsmasq_enable_service|bool
    - dnsmasq_listen_interfaces|type_debug == "list"
    - dnsmasq_listen_addresses|type_debug == "list"
    - dnsmasq_dnssec == dnsmasq_dnssec|bool

- name: check that mandatory variables are correctly defined (dnsmasq_upstream_servers)
  assert:
    quiet: yes
    that: item|ansible.netcommon.ipv4
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  with_items: "{{ dnsmasq_upstream_servers }}"

- name: check that mandatory variables are correctly defined (dnsmasq_records)
  assert:
    quiet: yes
    that:
      - item.name is string
      - item.ip|ansible.netcommon.ipv4
    fail_msg: "One or more variables are not correctly defined. Check role documentation: https://gitlab.com/nodiscc/xsrv/-/tree/master/roles/dnsmasq"
  with_items: "{{ dnsmasq_records }}"
