##### PACKAGES #####

- name: install mumble-server
  apt:
    package: mumble-server
    state: present

##### CONFIGURATION #####

- name: copy mumble-server configuration
  template:
    src: etc_mumble-server.ini.j2
    dest: /etc/mumble-server.ini
    owner: mumble-server
    group: root
    mode: 0600
  notify: restart mumble
  no_log: True

##### COMMAND-LINE/MISC INSTALLATION STEPS #####

- name: update mumble superuser password (does not report changes)
  become: yes
  become_user: mumble-server
  command: murmurd -ini /etc/mumble-server.ini -supw {{ mumble_superuser_password }} # noqa 301
  register: mumble_update_superuser
  no_log: True
  failed_when:
    - 'mumble_update_superuser.rc not in [0, 1]'
    - '"Superuser password set on server" not in mumble_update_superuser.stdout'
  changed_when: no # never return changed, murmurd always returns 'Superuser password set' regardless of if password was changed or not # TODO report issue

##### SERVICE #####

- name: start/stop/enable/disable mumble-server service
  service:
    name: mumble-server
    state: "{{ 'started' if mumble_enable_service else 'stopped' }}"
    enabled: "{{ 'yes' if mumble_enable_service else 'no' }}"
  tags: services
