- name: install netdata systemd check for mumble
  template:
    src: etc_netdata_health.d_systemdunits.conf.d_mumble.conf.j2
    dest: /etc/netdata/health.d/systemdunits.conf.d/mumble.conf
    owner: root
    group: netdata
    mode: 0640
  notify: assemble netdata configuration
  ignore_errors: "{{ ansible_check_mode }}"

- name: remove files from old versions of the role
  file:
    state: absent
    path: "/etc/netdata/health.d/processes.conf.d/mumble.conf"
  notify: assemble netdata configuration
