### FIREWALLD ###

- name: reload firewalld
  become: yes
  service:
    name: firewalld
    state: reloaded
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart firewalld
  become: yes
  service:
    name: firewalld
    state: restarted
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"

### FAIL2BAN ###

- name: reload fail2ban
  become: yes
  service:
    name: fail2ban
    state: reloaded
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"


### APACHE ###

- name: restart apache
  service:
    name: apache2
    state: restarted
    enabled: yes
  become: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: reload apache
  service:
    name: apache2
    state: reloaded
    enabled: yes
  become: yes
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart php-fpm
  service:
    name: php{{ php_fpm_version }}-fpm
    state: restarted
    enabled: yes
  become: yes
  ignore_errors: "{{ ansible_check_mode }}"

### MONITORING_RSYSLOG ###

- name: restart rsyslog
  become: yes
  service:
    name: rsyslog
    state: restarted
    enabled: yes

### MONITORING_NETDATA ###

# assemble all files from /etc/netdata/*/*.d/*.conf to main /etc/netdata/*/*.conf files
# this is an example of how to do it manually:
# sudo find /etc/netdata/go.d/httpcheck.conf.d/ -type f |sort | xargs sudo cat | sudo tee /etc/netdata/go.d/httpcheck.conf
- name: assemble netdata configuration
  become: yes
  assemble:
    src: /etc/netdata/{{ item }}.d
    dest: /etc/netdata/{{ item }}
    owner: root
    group: netdata
    mode: 0640
    delimiter: ''
  with_items:
    - go.d/filecheck.conf
    - go.d/httpcheck.conf
    - go.d/x509check.conf
    - go.d/portcheck.conf
    - health.d/filecheck.conf
    - health.d/processes.conf
    - health.d/systemdunits.conf
  notify: restart netdata
  ignore_errors: "{{ ansible_check_mode }}"

- name: restart netdata
  become: yes
  service:
    name: netdata
    state: restarted
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"

### BACKUP/RSNAPSHOT ###

- name: check rsnapshot configuration
  become: yes
  command: rsnapshot configtest
  changed_when: no

### LIBVIRT ###

- name: restart libvirtd
  become: yes
  service:
    name: libvirtd
    state: restarted
    enabled: yes
  listen:
    - restart firewalld
    - reload firewalld

### GENERAL PURPOSE ###

- name: reload systemd unit files
  become: yes
  systemd:
    daemon_reload: yes

- name: re-execute the systemd manager
  become: yes
  systemd:
    daemon_reexec: yes

- name: update apt cache
  become: yes
  apt:
    update_cache: yes

- name: update ansible facts
  setup:
