global:
  scrape_interval: {{ exporters_scrape_interval }}s
  external_labels:
    instance: '{{ inventory_hostname }}'

scrape_configs:
  - job_name: exporter-exporter
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
{% if ansible_local.apache.ansible_managed is defined and ansible_local.apache.ansible_managed %}
  - job_name: apache
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - apache
  - job_name: php-fpm
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - php-fpm
{% endif %}
  - job_name: node
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - node
  - job_name: process
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - process
{% if ansible_local.postgresql.ansible_managed is defined and ansible_local.postgresql.ansible_managed %}
  - job_name: postgres
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_scrape_interval }}s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9999']
    metrics_path: /proxy
    params:
      module:
        - postgres
{% endif %}
{% if exporters_blackbox_http_checks | length > 0 %}
  - job_name: blackbox
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_blackbox_http_check_interval }}s
    scrape_timeout: {{ exporters_blackbox_http_check_interval - 1 }}s
    metrics_path: /proxy
    params:
      module:
        - blackbox
        - http
    static_configs:
      - targets:
{% for url in exporters_blackbox_http_checks %}
        - {{ url }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9999
{% endif %}
{% if exporters_blackbox_tcp_checks | length > 0 %}
  - job_name: blackbox-tcp
    authorization:
      type: Bearer
      credentials: '{{ monitoring_exporters_auth_password }}'
    scrape_interval: {{ exporters_blackbox_tcp_check_interval }}s
    scrape_timeout: {{ exporters_blackbox_tcp_check_interval - 1 }}s
    metrics_path: /proxy
    params:
      module:
        - blackbox
        - tcp_connect
    static_configs:
      - targets:
{% for target in exporters_blackbox_tcp_checks %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9999
{% endif %}
