# preseed file for xsrv init-vm-template
# placeholders between %% will be replaced from values provided on the command-line (or the defaults will be used)

# display language of the debian installer
d-i debian-installer/locale string en_US
# keyboard layout to use in debian-installed
d-i keyboard-configuration/xkb-keymap select us
# hostname
d-i netcfg/get_hostname string %%HOSTNAME%%
# domain name
d-i netcfg/get_domain string unassigned-domain
# don't use dhcp/network autoconfiguration
d-i netcfg/disable_autoconfig boolean true
# set network configuration from defaults/command-line options
d-i netcfg/get_ipaddress string %%IP_ADDRESS%%
d-i netcfg/get_gateway string %%GATEWAY%%
d-i netcfg/get_netmask string %%NETMASK%%
d-i netcfg/get_nameservers string %%NAMESERVERS%%
d-i netcfg/confirm_static boolean true
# APT mirror configuration
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stable
# skip creation of a root account (normal user account will be able to use sudo)
#d-i passwd/root-login boolean false
# Alternatively, to skip creation of a normal user account.
#d-i passwd/make-user boolean false
# root password
d-i passwd/root-password password %%ROOT_PASSWORD%%
d-i passwd/root-password-again password %%ROOT_PASSWORD%%
# normal user username/password
d-i passwd/user-fullname string %%SUDO_USER%%
d-i passwd/username string %%SUDO_USER%%
d-i passwd/user-password password %%SUDO_PASSWORD%%
d-i passwd/user-password-again password %%SUDO_PASSWORD%%
# The user account will be added to some standard initial groups
d-i passwd/user-default-groups string sudo ssh
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true
# You may set this to any valid setting for $TZ; see the contents of /usr/share/zoneinfo/ for valid values
d-i time/zone string Europe/Paris
# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true
# NTP server to use
d-i clock-setup/ntp-server string 0.debian.pool.ntp.org
# automatic partitioner method to use
d-i partman-auto/method string lvm
# amount of volume group to use for guided partitioning
d-i partman-auto-lvm/guided_size string 100%
 # auto-partition free disk space
d-i partman-auto/init_automatically_partition select biggest_free
 # install on single partition
d-i partman-auto/choose_recipe select atomic
 # automatically partition without confirmation
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
 # auto-confirm write the changes to disks and configure LVM
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
# don't participate in the packages usage survey/popularity contest
d-i popularity-contest/participate boolean false
tasksel tasksel/first multiselect standard, ssh-server
# install ansible requirements
d-i pkgsel/include string python3 aptitude sudo
# upgrade packages after debootstrap (none, safe-upgrade, full-upgrade)
d-i pkgsel/upgrade select full-upgrade
# install GRUB automatically to the UEFI partition/boot record
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
# install GRUB boot loader to the primary device
d-i grub-installer/bootdev  string default
# avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
#d-i cdrom-detect/eject boolean false
# shutdown/poweroff when finished
d-i debian-installer/exit/poweroff boolean true
# command to run just after preseeding is read
#d-i preseed/early_command string anna-install some-udeb
# command to run before the partitioner starts
#d-i partman/early_command string mycommand
# command to run just before the install finishes, target system mounted in /target
#d-i preseed/late_command string apt-install zsh; in-target chsh -s /bin/zsh; chroot /target
