- name: install victoria-metrics (provides vmagent)
  apt:
    package: victoria-metrics
    state: present

- name: stop and disable victoria-metrics service (TSDB) on non-collector hosts
  systemd:
    name: victoria-metrics.service
    state: stopped
    enabled: false
  when: ansible_local.victoriametrics.ansible_managed is not defined or not (ansible_local.victoriametrics.ansible_managed | bool)
  ignore_errors: "{{ ansible_check_mode }}"

- name: copy vmagent systemd service unit file
  copy:
    src: etc_systemd_system_vmagent.service
    dest: /etc/systemd/system/vmagent.service
    owner: root
    group: root
    mode: "0644"
  notify: reload systemd unit files

- name: apply configuration (flush handlers)
  meta: flush_handlers

- name: create working directory for vmagent
  file:
    path: /var/lib/prometheus/vmagent
    state: directory
    owner: prometheus
    group: prometheus
    mode: "0755"

- name: configure vmagent
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  diff: "{{ item.diff }}"
  loop:
    - src: etc_vmagent.yml.j2
      dest: /etc/vmagent.yml
      group: prometheus
      mode: "0640"
      diff: true
    - src: etc_default_vmagent.j2
      dest: /etc/default/vmagent
      group: prometheus
      mode: "0640"
      diff: false
  notify: restart vmagent

- name: start and enable vmagent service
  systemd:
    name: vmagent.service
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
