[Unit]
Description=VictoriaMetrics VMalert service
After=network.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/bin/vmalert -datasource.url=http://127.0.0.1:8428 -notifier.url=http://127.0.0.1:9093 -rule=/etc/victoriametrics/vmalert/rules/*.yml -httpListenAddr=127.0.0.1:8880 -evaluationInterval=30s
ExecReload=/bin/kill -HUP $MAINPID
# TODO -datasource.basicAuth.passwordFile -datasource.basicAuth.username

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
