UPDATE ttrss_users
   SET login    = '{{ tt_rss_user }}',
       pwd_hash = 'MODE2:{{ (tt_rss_password_salt + tt_rss_password) | hash('sha256') }}',
       salt     = '{{ tt_rss_password_salt }}'
WHERE id = 1;