#!/bin/bash
{% for item in libvirt_port_forwards %}
if [ "${1}" = "{{ item.vm_name }}" ]; then
{% for port in item.ports %}
    if [ "${2}" = "stopped" ] || [ "${2}" = "reconnect" ]; then
        /sbin/iptables --table filter --delete FORWARD --out-interface {{ item.bridge }} --protocol {{ port.protocol | default('tcp') }} --destination {{ item.vm_ip }} --match multiport --dports {{ port.vm_port | regex_replace('-', ':') }} --jump ACCEPT
        /sbin/iptables --table nat --delete PREROUTING --protocol {{ port.protocol | default('tcp') }} --destination {{ item.host_ip }} --dport {{ port.host_port | regex_replace('-', ':') }} --jump DNAT --to-destination {{ item.vm_ip }}:{{ port.vm_port }}
    fi
    if [ "${2}" = "start" ] || [ "${2}" = "reconnect" ]; then
        /sbin/iptables --table filter --insert FORWARD --out-interface {{ item.bridge }} --protocol {{ port.protocol | default('tcp') }} --destination {{ item.vm_ip }} --match multiport --dports {{ port.vm_port | regex_replace('-', ':') }} --jump ACCEPT
        /sbin/iptables --table nat --insert PREROUTING --protocol {{ port.protocol | default('tcp') }} --destination {{ item.host_ip }} --dport {{ port.host_port | regex_replace('-', ':') }} --jump DNAT --to-destination {{ item.vm_ip }}:{{ port.vm_port }}
    fi
    ################
{% endfor %}
fi

{% endfor %}
