<network>
  <name>{{ item.name }}</name>
  <forward {% if item.forward_dev is defined %}dev='{{ item.forward_dev }}' {% endif %}mode='nat'>
    <nat>
      <port start='1' end='65535'/>
    </nat>
    {% if item.forward_dev is defined %}<interface dev='{{ item.forward_dev }}'/>{% endif %}
  </forward>
  <bridge name='{{ item.bridge_name }}' stp='on' delay='0'/>
  <mac address='{{ item.mac_address }}'/>
  <ip address='{{ item.ip_address }}' netmask='{{ item.netmask }}'>
{% if item.dhcp_start is defined %}
    <dhcp>
      <range start='{{ item.dhcp_start }}' end='{{ item.dhcp_end }}'/>
    </dhcp>
{% endif %}
  </ip>
</network>

