[Unit]
Description=Update dnsmasq blocklist

[Service]
Type=simple
ExecStart=/usr/local/bin/dnsmasq-update-blocklist
SyslogIdentifier=dnsmasq-update-blocklist
After=network-online.target dnsmasq.service

[Install]
WantedBy=multi-user.target
