# rsyslog - aggregate services log files
module(load="imfile")


##### APT #####

input(type="imfile"
      File="/var/log/apt/history.log"
      readMode="0"
      Tag="apt:"
      Facility="local0"
      PersistStateInterval="0")

# dpkg log - verbose, disabled
#input(type="imfile"
#      File="/var/log/dpkg.log"
#      Tag="dpkg:"
#      Facility="local0"
#      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/unattended-upgrades/unattended-upgrades.log"
      readMode="0"
      Tag="unattended-upgrades:"
      Facility="local0"
      PersistStateInterval="0")


#### FAIL2BAN #####

input(type="imfile"
      File="/var/log/fail2ban.log"
      Tag="fail2ban:"
      Facility="auth"
      PersistStateInterval="0")

{% if 'nodiscc.xsrv.backup' in role_names %}
##### RSNAPSHOT #####

input(type="imfile"
      File="/var/log/rsnapshot.log"
      Tag="rsnapshot:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
{% if 'nodiscc.xsrv.apache' in role_names %}
##### APACHE ######

input(type="imfile"
      File="/var/log/apache2/access.log"
      Tag="apache:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/apache2/error.log"
      Tag="apache:"
      Facility="daemon"
      PersistStateInterval="0")


##### PHP-FPM #####

input(type="imfile"
      File="/var/log/php7.3-fpm.log"
      Tag="php-fpm:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
{% if 'nodiscc.xsrv.gitea' in role_names %}
##### GITEA #####

input(type="imfile"
      File="/var/lib/gitea/log/access.log"
      Tag="gitea:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/lib/gitea/log/gitea.log"
      Tag="gitea:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
{% if 'nodiscc.xsrv.mumble' in role_names %}
##### MUMBLE-SERVER #####

input(type="imfile"
      File="/var/log/mumble-server/mumble-server.log"
      Tag="mumble-server:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
{% if 'nodiscc.xsrv.nextcloud' in role_names %}
##### NEXTCLOUD #####

input(type="imfile"
      File="{{ nextcloud_data_dir }}/nextcloud.log"
      Tag="nextcloud:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="{{ nextcloud_data_dir }}/audit.log"
      Tag="nextcloud:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
{% if 'nodiscc.xsrv.samba' in role_names %}
##### SAMBA #####


input(type="imfile"
      File="/var/log/samba/log."
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/log.nmbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/log.smbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/samba.log"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/nscd.log"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")
{% endif %}
