# netdata go.d.plugin configuration for portcheck
{% if netdata_port_checks %}
jobs:
{% for job in netdata_port_checks %}
  - name: {{ job.name }}
    host: {{ job.host }}
    ports: {{ job.ports }}
    update_every: {{ job.interval }}
{% endfor %}
{% endif %}
