# rsyslog - monitor netdata access/error log files
module(load="imfile")

input(type="imfile"
      File="/opt/netdata/var/log/netdata/access.log"
      Tag="netdata"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/opt/netdata/var/log/netdata/error.log"
      Tag="netdata"
      Facility="daemon"
      PersistStateInterval="0")
