# raise a critical alert as soon as a watched file cannot be found/read
 template: modtime_error
    on: modtime.file_age
  calc: $error
 every: 10s
  crit: $this > 0
 units: errored checks
  info: error when accessing file
    to: sysadmin

# Example alarm definition for the modtime module
# Raise a warning when a file is older than 24h30min
# Raise a critical alert when older than 25h
#  alarm: modtime_last_rsnapshot_success
#     on: modtime_last_rsnapshot_success.file_age
#   calc: $file_age
#  every: 10s
#   warn: $this > 88200
#   crit: $this > 90000
#  units: seconds
#   info: time since last modification
#     to: sysadmin

{% for job in netdata_modtime_checks %}
 alarm: modtime_{{ job.name }}
    on: modtime_{{ job.name }}.file_age
  calc: $file_age
 every: 10s
  warn: $this > {{ job.age_warning }}
  crit: $this > {{ job.age_critical }}
 units: seconds
  info: time since last modification
    to: sysadmin

{% endfor %}
