# rsyslog - monitor samba log files
module(load="imfile")

input(type="imfile"
      File="/var/log/samba/cores/smbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/cores/nmbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/log."
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/log.nmbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/log.smbd"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")

input(type="imfile"
      File="/var/log/samba/samba.log"
      Tag="samba:"
      Facility="daemon"
      PersistStateInterval="0")
