# raise a critical alert as soon as a watched file cannot be found/read
 template: modtime_error
    on: modtime.file_age
  calc: $error
 every: 10s
  crit: $this > 0
 units: errored checks
  info: error when accessing file
    to: sysadmin

{% for job in netdata_modtime_checks %}
 alarm: modtime_{{ job.name }}
    on: modtime_{{ job.name }}.file_age
  calc: $file_age
 every: 10s
  warn: $this > {{ job.age_warning }}
  crit: $this > {{ job.age_critical }}
 units: seconds
  info: time since last modification
    to: sysadmin

{% endfor %}
