- name: copy rsnapshot configuration for wireguard backups
  template:
    src: etc_rsnapshot.d_wireguard.conf.j2
    dest: /etc/rsnapshot.d/wireguard.conf
    mode: 0600
  notify: check rsnapshot configuration
