<VirtualHost *:80>
    ServerName {{ ollama_ui_fqdn }}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

{% if ollama_ui_https_mode == 'letsencrypt' %}
MDomain {{ ollama_ui_fqdn }}
{% endif %}

<VirtualHost *:443>
  ServerName  {{ ollama_ui_fqdn }}
  SSLEngine on
{% if ollama_ui_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ ollama_ui_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ ollama_ui_fqdn }}.key
{% endif %}
{% if not ollama_enable_service %}
  DocumentRoot /var/www/maintenance/
  ErrorDocument 503 /maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteRule ^.*$ - [R=503,L]
{% else %}
  ProxyPreserveHost On
  ProxyRequests off
  AllowEncodedSlashes NoDecode
  ProxyPass /api/ http://127.0.0.1:11434/ nocanon
  ProxyPassReverse /api/ http://127.0.0.1:11434/
  ProxyPass / http://127.0.0.1:8079/ nocanon
  ProxyPassReverse / http://127.0.0.1:8079/
{% endif %}
  <Location />
    AuthType Basic
    AuthName "Authorization required"
    AuthBasicProvider file
    AuthUserFile /etc/apache2/ollama-passwd
    <RequireAll>
{% if ollama_ui_allowed_hosts %}
      Require ip 127.0.0.1 {{ ollama_ui_allowed_hosts | join(' ') }}
{% endif %}
      Require valid-user
    </RequireAll>
  </Location>
</VirtualHost>
