[Unit]
Description=Ollama local LLM service
After=syslog.target
After=network.target

[Service]
User=ollama
Group=ollama
Type=simple
WorkingDirectory=/var/lib/ollama/
ExecStart=/usr/local/bin/ollama serve
Environment="OLLAMA_HOST=0.0.0.0:11434"
Environment="OLLAMA_ORIGINS=https://{{ ollama_ui_fqdn }}"
# OLLAMA_DEBUG=1

[Install]
WantedBy=multi-user.target
