  - name: rss-bridge
    timeout: 1
    tls_skip_verify: true
    update_every: 10
    url: https://127.0.0.1/index.php/login
    headers:
      Host: "{{ rss_bridge_fqdn }}"
    status_accepted:
      - 401
      - 200
